[2021-09-08 08:20] fifoosid commented on #3806
Hi @sfsf-xweb-sh

Do you need the fixes for this issue in 0.29 or 0.31 releases?

[2021-09-08 08:50] fifoosid commented on #3826
Hi @rchrdchn

Yes, I used the provided login params and then proxied as cgrant. I just did it again and the result was the same

If you can't reproduce it anywhere else, this means that it is related to your instance and not to the webcomponent itself.

[2021-09-08 09:45] 2bno1 opened #4135 "[SF] [MessageBox] [A11y] Title and text content not getting announced automatically by screen reader"
**Describe the bug**
The title and text content of popup message box is not getting announced automatically by screen reader.

**Isolated Example**
https://sap.github.io/ui5-webcomponents-react/?path=/docs/modals-popovers-messagebox--default-story

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sap.github.io/ui5-webcomponents-react/?path=/docs/modals-popovers-messagebox--defaul

[2021-09-08 11:06] fifoosid commented on #3767
FYI @SAP/ui5-webcomponents-topic-rd

[2021-09-08 11:06] fifoosid commented on #3768
FYI @SAP/ui5-webcomponents-topic-rd

[2021-09-08 11:08] gmkv commented on #3841
Hi @SAP/ui5-webcomponents-topic-rl

There's an accessibility issue with the Toast not being read out with the latest version of NVDA - v2021.1.
The issue is not reproducible with NVDA v2020.4.
Sample: https://cdhqh.csb.app/  -  [(code)](https://codesandbox.io/s/ui5-webcomponents-forked-cdhqh?file=/index.html)

Kind regards,
Georgi

[2021-09-08 11:09] fifoosid commented on #3712
Hi @ericchan1983

Could you describe what is your use case and why do you need to change the title level?

[2021-09-08 11:12] gmkv commented on #3866
FYI @SAP/ui5-webcomponents-topic-rl

[2021-09-08 11:27] fifoosid commented on #3766
Hi @ericchan1983

There is a [spec](https://wiki.wdf.sap.corp/wiki/display/visualcore/UploadCollection+%28Fiori+3%29+-+No+Data) for the control, and it is currently implemented by that spec.

[2021-09-08 11:51] gmkv commented on #3757
Hi @SAP/ui5-webcomponents-topic-core

Sample: https://codesandbox.io/s/ui5-webcomponents-forked-y3ohs?file=/src/index.js
Can you have a look?

Kind regards,
Georgi

[2021-09-08 11:53] gmkv commented on #3749
FYI @SAP/ui5-webcomponents-topic-rd

[2021-09-08 11:58] #3776 closed

[2021-09-08 12:01] gmkv commented on #3711
FYI @SAP/ui5-webcomponents-topic-core

[2021-09-08 12:03] gmkv commented on #3699
Hi @SAP/ui5-webcomponents-topic-b
Can you have a look at this?

Kind regards,
Georgi

[2021-09-08 12:08] fifoosid commented on #3776
Both changes(#3870 & #3814) are downported in the 0.31 branch

[2021-09-08 12:13] gmkv commented on #3693
Hi @ivaylo-stoilov

There is no focus outline on the whole card by design.
From what I see in, you're misusing the ui5-card component to fit your case.

I suggest you plain div element with tabindex="0" to achieve what you need.

Kind regards,
Georgi

[2021-09-08 12:13] #3693 closed

[2021-09-08 12:46] dobrinyonkov commented on #3806
Hi @sfsf-xweb-sh,

we have merged 3 pull requests addressing the points: 1, 2, 3, 5.
For the other issues to be resolved please see my first comment above.

Kind Regards,
Dobrin

[2021-09-08 15:03] kskondov commented on #3584
Hello @davischmitz,

Can you please confirm if the issue still exist with the latests version?

Best Regards,
@kskondov

[2021-09-08 17:43] xpr0gamers commented on #3782
solved by  #3839

[2021-09-08 21:14] davischmitz commented on #3584
Hi @kskondov!

Seems to be fixed using the latest versions.

Thanks and best regards,
Davi

[2021-09-08 21:14] #3584 closed

[2021-09-09 02:29] ericchan1983 commented on #3712
Hi @fifoosid,

The card title is not always aira-level=3, can the web-component provide a setting to config the aria-level, please?

Regards,
Eric Chen

[2021-09-09 02:35] ericchan1983 commented on #3766
![image](https://user-images.githubusercontent.com/1614528/132612850-8d2af73e-f5e6-4f01-918f-b13b2f11b3d3.png)
https://sapui5.hana.ondemand.com/#/entity/sap.m.UploadCollection/sample/sap.m.sample.UploadCollectionForPendingUpload

As the screenshot shown, the no-data text in the UI5 demo is not implemented as H2 title.

[2021-09-09 02:58] sfsf-xweb-sh commented on #3806
Hi @fifoosid  @dobrinyonkov

Thanks for your great job.
I need this fixed to be released in version 0.31.x ( sf version )
The current sf version is 0.31.16. Maybe this fix can be released with version 0.31.17

Thanks

Kind Regards,
Hubery

[2021-09-09 05:49] sfsf-xweb-sh opened #3874 "[Performance] Does not use passive listeners to improve scrolling performance"
### **Bug Description**

When we test our web page by google LightHouse, and there is an hight level diagnostic warning "Does not use passive listeners to improve scrolling performance"

Here is link for why https://web.dev/uses-passive-event-listeners/?utm_source=lighthouse&utm_medium=devtools

I found that the **ui5-webcomponent** is base on **lit-html**. And also this issue is comes from the **

[2021-09-09 06:36] an-grotesque opened #3875 "ColorPicker: color picker does not allow to pick color after blue"
Reproducible even in storybook.

Steps to reproduce the behavior:
1. Go to [UI5-Storybook](https://sap.github.io/ui5-webcomponents-react/?path=/docs/inputs-colorpicker--default-story)
2. Click on color stripe somewhere after blue. Pink for example.
3. Click anywhere in color shade box.
4. See your selection in color stripe reset to the beginning.

**Expected behavior**
Selection in color shade box

[2021-09-09 07:00] gmkv commented on #3874
FYI @SAP/ui5-webcomponents-topic-core

[2021-09-09 07:07] gmkv commented on #3875
Hi @SAP/ui5-webcomponents-topic-b

This is a strange buggy interaction with the Color Picker component.
To reproduce, pick a hue and then click on the pane. The result is that the hue will get changed, so you end up with a completely different color.

https://codesandbox.io/s/ui5-webcomponents-forked-v0k91?file=/index.html

Regards,
Georgi

[2021-09-09 08:21] fifoosid commented on #3806
Hi @sfsf-xweb-sh

This will be released in the next 0.31.17 version.

[2021-09-09 09:00] fifoosid commented on #3766
FYI @SAP/ui5-webcomponents-topic-rd

There is a use case, where the h2 tag is not correct: If the uploadCollection component is in a dialog, the dialog tilte is H2, and the no-data text is also H2

[2021-09-09 09:17] Neeeko commented on #3683
Hi,
Thanks for addressing this issue!
If possible, we would appreciate if this fix could be merged and deployed as soon as possible as we have our SF code complete next week.
Thanks!

[2021-09-09 11:25] fifoosid commented on #3874
This is a duplicate of #2995

[2021-09-09 13:10] MisherLiu opened #3882 "Performance Issue when using ui5-icon. And the file Render.js also spent a lot time"
Dear Team,

When I use ui5-icon in table rows as row actions,  this causes performance issue. you can refer the screenshot of performance issue:
<img width="710" alt="Vue_ui5_perf" src="https://user-images.githubusercontent.com/64764287/132689587-840abbfc-dc80-4095-8191-f795d6eba949.png">
<img width="704" alt="Vue_ui5_perf1" src="https://user-images.githubusercontent.com/64764287/132689610-5e7de5d

[2021-09-09 13:21] MisherLiu commented on #3882
@Team,

You can run performance test in [this page](https://pages.github.tools.sap/ibso-ui-guideline-reference/vue_demo/#/)  using Chrome Devtools->Performance. Record the button "Mass Create", then in the performance result,  in the tab Call Tree, you can open the largest performance consumption in deep, and you can find the file "npm.ui5.f2e84a56.js" is related to UI5 Web Component, and function

[2021-09-09 13:45] LidiaBobeva commented on #3749
Hello,

The issue is reproducible with nested list.
You can see the isolated example: https://codesandbox.io/s/ui5-webcomponents-forked-odwde?file=/index.html
The error comes from ItemNavigatio.js when the user clicks on some of the nested items.

Best Regards,
Lidiya

[2021-09-09 13:50] #3324 closed

[2021-09-09 14:11] #3683 closed

[2021-09-09 14:13] fifoosid commented on #3683
Hi @Neeeko

The fix will be available in the next release of the 0.31 branch

[2021-09-09 14:26] fifoosid commented on #3623
Point 1 is left to implement:

1. Scroll appears on the bottom of the items in RTL
This is caused by the hidden text within the content of the list item.

[2021-09-09 17:59] gurkirpalgill opened #3889 "ui5-shellbar injects empty h2 for secondary title is not provided"
### **Bug Description**
ui5-shellbar is used without secondary title e.g.
`<ui5-shellbar id="shellbar" ui5-shellbar="" with-logo="" breakpoint-size="XXL" primary-title="Onboarding">`

Its injecting empty h2 tag :
`<h2 class="ui5-shellbar-secondary-title"></h2>`

This create axe devtools warning that `Headings should not be empty`

### **Expected Behavior**
If `secondary-title` attribute is not use

[2021-09-10 05:05] ilhan007 commented on #3889
Hi @gurkirpalgill do you really use **0.31.16**
because this is a duplicate of: https://github.com/SAP/ui5-webcomponents/issues/3698
that has been fixed with https://github.com/SAP/ui5-webcomponents/pull/3737 which avoids rendering the **h2 tag** if **secondary-title** attribute is not set and released with **0.31.16**

[2021-09-10 05:21] Todor-ads commented on #3875
Hi @an-grotesque and @Lukas742,
The issue is fixed and the fix is available on the master branch. This fix will be delivered with rc 16

Regards,
Todor

[2021-09-10 05:21] #3875 closed

[2021-09-10 07:28] gmkv commented on #3882
There's a performance concern reported here.
Open [this page](https://pages.github.tools.sap/ibso-ui-guideline-reference/vue_demo/#/), select "Mass Create", enter 1000, start profiling, and click confirm.
Could you have a look?

[2021-09-10 08:19] gmkv commented on #3767
Hi @SAP/ui5-webcomponents-topic-b
The File Uploader component is part of your topic.

Regards,
Georgi

[2021-09-10 09:52] kskondov commented on #3623
This seems to be no longer reproducible here:
https://sap.github.io/ui5-webcomponents/master/playground/components/SideNavigation/?sap-ui-theme=sap_fiori_3&isrtl=true

[2021-09-10 10:44] gmkv commented on #3623
Hi @fifoosid
Point 1. is caused by a bug which has a seperate issue currently open #3503

When that bug is solved, we can close this issue.

[2021-09-10 11:48] #3391 closed

[2021-09-10 11:56] #3620 closed

[2021-09-10 12:04] dobrinyonkov commented on #3706
Hello @angelzbg,

By default Narrator starts in Scan mode, which is its reading mode. In scan mode the speech output is more verbose and when you focus an item from the lists it automatically starts to read its content. You can see the blue cursor that jumps from one word to another. **To disable "Scan" mode - press CapsLock(or Insert) + SpaceBar**. Then the speech output should be OK.

Like Boyan

[2021-09-10 12:04] #3706 closed

[2021-09-10 13:02] Psidium commented on #3662
I had a call with @dobrinyonkov, where we could find exactly how to reproduce what I'm referring to.
If I open https://w3c.github.io/aria-practices/examples/combobox/combobox-select-only.html and go to the example there I'm able to use "control + option + space" to open the `select` options, and then I can use "control + option + right" and "control + option + left" to navigate between the options

[2021-09-10 14:02] #3451 closed

[2021-09-10 14:02] #3687 closed

[2021-09-10 14:10] fifoosid commented on #3451
This feature request will be available in our next stable version as well as in the next 0.31 release.

[2021-09-10 14:10] fifoosid commented on #3687
This fix will be available in our next stable version as well as in the next 0.31 release.

[2021-09-13 03:26] 2bno1 commented on #3644
@fifoosid Is it possible to include `accessibleNameRef ` in sf version (0.31.x)?

[2021-09-13 10:28] niyap commented on #3782
Fixed with #3895

[2021-09-13 10:28] #3782 closed

[2021-09-13 13:38] a-z-ivanov commented on #3794
Hello @rchrdchn,

Thanks for the detailed explanation. Looking at our queue I found an older issue which is the same.
Thus, I'll close this one and we'll continue working on the older one #3459. There is already a pull request with the solution
https://github.com/SAP/ui5-webcomponents/pull/3650. Also, the pull request contains a discussion on the topic. The solution may change from 'listbox' with

[2021-09-13 15:07] #3844 closed

[2021-09-13 15:50] jeff-fillmore opened #3918 "TreeItem: Mouse Enter and Mouse Leave events don't fire"
**Describe the bug**
Mouse Enter and Mouse Leave events don't fire for <TreeItem> component

**Isolated Example**
 [codesandbox](https://codesandbox.io/s/angry-panka-ck9yr?file=/src/App.js).*

**To Reproduce**
Steps to reproduce the behavior:
1. Move mouse over <TreeItem> "item 1" or it's children
2. An alert should be shown when entering or leaving the <TreeItem> with the mouse

**Expected behavi

[2021-09-13 16:10] jeff-fillmore commented on #3918
Hi @Lukas742,

Thanks for looking into this.

Would the sandbox example you create be better with using the <ui5-tree> and <ui5-tree-item> that would show the issue on the correct ui5 web component?

Thanks

[2021-09-13 16:16] Lukas742 commented on #3918
Hi colleagues,

I just noticed, that for some reasons it didn't work the first time I tried it with codeSandbox but now it is. I will investigate if this has something to do with our React wrapper (UI5 Web Components for React) or the cause lies within the web component itself. If this has something to do with our wrapper implementation I will transfer this issue back to us again. Sorry for the co

[2021-09-13 16:29] Lukas742 commented on #3918
@jeff-fillmore after investigating it seems to be working fine with the React wrapper as well. Can you please take a look at [this](https://codesandbox.io/s/awesome-meitner-svb49?file=/src/App.js) implementation and let me know if I missed something?

[2021-09-13 16:33] jeff-fillmore commented on #3918
@Lukas742  you keep testing the wrong components.  Please test the TreeItem component.  I'm not sure why you keep using tables :(

[2021-09-13 20:58] Lukas742 commented on #3918
My bad, sorry about that 🤦‍♂️
I'll hide the comments above so this issue won't get any more confusing as it is.

Let's try again.

Colleagues,
please check this [codeSandbox example](https://codesandbox.io/s/ui5-webcomponents-forked-n6q0t?file=/src/index.js) and see that it's not possible to set an event (`mouseenter`, `mouseleave`, `click`, etc.) on a `TreeItem`.

[2021-09-14 01:08] yuanweilei opened #3919 "CheckBox in UI5 Table MultiSelect Mode is not fixed when scrolling."
The CheckBox in UI5 Table MultiSelect Mode is not fixed when scrolling.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  https://sap.github.io/ui5-webcomponents-react/?path=/story/data-display-table--default-story&args=growing:None;mode:MultiSelect;stickyColumnHeader:true
2. Select MultiSelect in 'mode'
3. Select True in 'stickyColumnHeader'
4. Click + Button to make the table bigger
5

[2021-09-14 01:37] gurkirpalgill commented on #3889
this is still an issue. we are using 0.31.16
[code]
<img width="1894" alt="Screen Shot 2021-09-13 at 6 33 01 PM" src="https://user-images.githubusercontent.com/65705637/133180274-90c0301b-aa8d-4e8f-9641-a8b3ac2f6697.png">

[2021-09-14 05:29] #3378 closed

[2021-09-14 06:20] yuanweilei commented on #3919
Hi, @MarcusNotheis
Thank you for confirming! Hopefully the fixed version will be released soon :)

[2021-09-14 06:26] ilhan007 commented on #3889
Hello @gurkirpalgill can you provide a reproducible sample

I created a sample using 0.31.17 the latest 0.31 patch: https://codesandbox.io/s/ui5-webcomponents-forked-nk1cl
and the "h2" tag is not rendered.

BR,
ilhan

[2021-09-14 06:52] niyap commented on #3840
Hello @kilgharsap  ,

The issue is already reproted: #3827

We are aware of this issue and other issues, related to setting relationships between accessible elements via IDrefs. Setting IDRef relationships are currently not possible due to the nature of the custom elements and their shadow DOM. The issue is present not only for UI5 Web Components, but for every framework creating custom elements a

[2021-09-14 06:52] #3840 closed

[2021-09-14 06:56] #3367 closed

[2021-09-14 07:27] terezamch commented on #3919
Hello colleagues,

There is an issue in the stickiness of table.

Steps to reproduce:
1. Open https://sap.github.io/ui5-webcomponents/playground/components/Table/
2. Go to the "Table in MultiSelect mode" sample
3. Set the stickyColumnHeader=true
4. Scroll to hide the header part

Result:
<img width="1023" alt="Screenshot 2021-09-14 at 10 17 15" src="https://user-images.githubusercontent.com/129021

[2021-09-14 08:04] #3779 closed

[2021-09-14 10:04] fifoosid commented on #3644
Hi @2bno1

As you might know, the 0.31.x branch is behind the latest our latest version(rc15). We have this functionality in the 0.31 branch, but the naming is different. Instead of using ```accessibleName``` and ```accessibleNameRef```, you can use ```ariaLabel``` and ```ariaLabelledby```. These two properties work in the exact same way.

[2021-09-14 10:37] #3619 closed

[2021-09-14 10:38] gmkv commented on #3619
Closing this as solved. Issue reported as `1.` is no longer reproducible.

[2021-09-14 11:01] a-z-ivanov commented on #3728
Hello @meierfelix2001,

The event name suggests that the filename should be changed before the event is fired. So, this is the expected behaviour.
The normal workflow in your case should be what Iliana suggested, to cancel and re-select the file.

Regards,
Alex

[2021-09-14 11:01] #3728 closed

[2021-09-14 11:15] TeodorTaushanov commented on #3778
Hi @ericchan1983,

Can you provide us an example of your ui5-dialog, where the issue is reproducible?

You can edit:
https://codesandbox.io/s/ui5-webcomponents-forked-xtrox?file=/index.html:300-317

Best,
Teo

[2021-09-14 11:16] a-z-ivanov commented on #3832
Hello @pankajpandey01 ,

Some time ago we made a feature for the DatePicker, this event to be preventable, meaning that you may choose to no change the value. Since, this preventing also happens in the event handler, then the component value is not changed yet. We understand that this behaviour happens to be a breaking change and we are truly sorry. The good news is that there is an alternative. Y

[2021-09-14 11:16] #3832 closed

[2021-09-14 11:24] MapTo0 commented on #3726
In your example, you are adding the arrow down icon, which means that you should handle the open / close behaviour.
You should also care about styles, etc.

[2021-09-14 11:31] #3738 closed

[2021-09-14 11:49] dimitar-trendafilov commented on #3707
Hello @unazko

https://codesandbox.io/s/currying-frost-fl0ys?file=/src/App.js

Here, this is edited snipped. Hope this helps.

BR,
Dimitar

[2021-09-14 12:06] #3768 closed

[2021-09-14 12:21] TeodorTaushanov commented on #3768
Hi @ericchan1983,

In the master branch we added "accessibleName" property to the upload collection, which you need to set to the group title.

In your case it can be like:

[code]

Best,
Teo

[2021-09-14 12:52] gmkv opened #3922 "ui5-busyindicator: focus method does not work"
The ui5-busyindicator component does not allow being focused with whte focus method - `busyIndicatorInstance.focus()`.

This was discovered as part of [issue 3591](https://github.com/SAP/ui5-webcomponents/issues/3591#issuecomment-910016916).

[2021-09-14 12:52] gmkv commented on #3591
I will close this issue as consulation, because there is not a real bug with it. I have opened a seperate issue #3922 for us to handle the bug I described above.

[2021-09-14 12:52] #3591 closed

[2021-09-14 13:26] dimitar-trendafilov commented on #3617
This issue has been opened because of BCP ticket https://support.wdf.sap.corp/sap/support/message/2180312052
The narrator is indeed working weirdly with this Select input. However, I am not sure how it is expected to be. In my opinion this needs to be discussed and clarified further with Jens Bombolowsky and Coders-19 team. I will send an email accordingly.

[2021-09-14 13:32] dimitar-trendafilov commented on #3661
Hello @unazko

Since the colleague who initially opened this ticket is no longer assigned to the project, I have double checked the issue. What I found is that this seems to be no longer reproducible. tabindex attribute is working correctly on the combobox field. This issue can be closed.

BR,
Dimitar

[2021-09-14 13:34] sleric1024 opened #3923 "ui5-badge: Text color and border color are wired when set color schema to 8"
### **Bug Description**
Incorrect color of ui5-badge

### **Expected Behavior**
Color should be correct.

### **Steps to Reproduce**
1. Go to https://codesandbox.io/s/ui5-webcomponents-forked-ut5uh?file=/index.html
2. Color of badge is not correct.

### **Isolated Example**
https://codesandbox.io/s/ui5-webcomponents-forked-ut5uh?file=/index.html

### **Context**
- UI5 Web Components version: 0.31.

[2021-09-14 13:36] #3837 closed

[2021-09-14 13:46] #3573 closed

[2021-09-14 13:52] fifoosid commented on #3661
Closing as the issue is no longer reproducible as stated by the colleagues

[2021-09-14 13:52] #3661 closed

[2021-09-14 14:05] ilhan007 commented on #3707
Hello @dimitar-trendafilov now @terezamch is the issue dispatcher from our side.
@terezamch could you please process the issue.

BR,
ilhan

[2021-09-14 14:19] terezamch commented on #3923
Hello colleagues @SAP/ui5-webcomponents-topic-rd,

The badge with color-scheme="8" has lost it's greenish color.
https://sap.github.io/ui5-webcomponents/master/playground/components/Badge/

Could you please take action?

Thanks,
Tereza

[2021-09-14 14:26] gmkv commented on #3923
Hi @sleric1024
This is intended.
The visual design of `color-scheme=8` of the Badge component was recently updated due to color contrast concerns.
I won't post internal links here, but if you are interested, contact me on Teams or Slack for more info.

Best regards,
Georgi Minkov

[2021-09-14 14:30] sleric1024 opened #3925 "ComboBox: missing aria attributes"
**Describe the bug**
Ensures elements with ARIA roles have all required ARIA attributes
`ui5-combobox #ui5-combobox-input`

**Isolated Example**
https://codesandbox.io/s/suspicious-fog-bwk9w?file=/src/App.js
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/suspicious-fog-bwk9w?file=/src/App.js
2. Verify with axe DevTools in chrome

**Expected behavior**
Elements

[2021-09-14 15:52] #3923 closed

[2021-09-14 23:36] gurkirpalgill commented on #3889
we upgraded to use 0.31.17. issue is resolved after the upgrade.

[2021-09-14 23:36] #3889 closed

[2021-09-15 02:38] 2bno1 commented on #3644
@fifoosid
Our project does not depend on @ui5-webcompnents directly, instead, it depends on @ui5-webcomponents-react which wrap the @ui5-webcomponents, I think there's gap between @ui5-webcomponents-react 0.131.x and @ui5-webcomponents 0.13.x as I see the Input from @ui5-webcomponents-react 0.131.x does not support these a11y related props (either `accessibleName`, `accessibleNameRef` or `ariaLabe

[2021-09-15 02:55] sfsf-xweb-sh opened #3927 "[BUG][SF][Urgent - Expect WithIn One Week][UI5-List] Ensure interactive controls are not nested"
**Dear colleagues,**
I am from SuccessFactors Web Experience Shanghai team.
we use NVDA to test a11y issues in our project

**Reproduce Step:**
Open https://github.wdf.sap.corp/pages/xweb/assignment/app.html?mock#/assignment-detail/ao/2
Click the applicants tab

**Bug Description**
`Ensure interactive controls are not nested ` reported by `axe-core `
![nested control issue](https://user-images.git

[2021-09-15 05:56] sfsf-xweb-sh commented on #3806
Hi @dobrinyonkov @fifoosid

I have tried issue 5 in 0.31.17, but this issue is still available though `accessible-name` is indeed added for `ui5-radiobutton`

![](https://user-images.githubusercontent.com/78520316/131817059-b5bc38f8-d3c1-4e3b-b526-2617b368e79e.png)

<img width="1098" alt="Screen Shot 2021-09-15 at 11 09 30 AM" src="https://user-images.githubusercontent.com/78520316/133378052-657b1

[2021-09-15 06:45] TeodorTaushanov commented on #3569
Hi @kolew96,

When the radio buttons are in group, they need to have the following structure, so they can be read correctly by the screen readers:
[code]

We updated our radio button examples.

Best,
Teo

[2021-09-15 06:45] #3569 closed

[2021-09-15 07:27] #3855 closed

[2021-09-15 07:28] #3549 closed

[2021-09-15 08:28] fifoosid commented on #3806
Hi @sfsf-xweb-sh

I tested it out with the provided link and everything seems to be working as expected. The only issue of this kind is not related to the ui5-li:
![image](https://user-images.githubusercontent.com/16850339/133398356-b4e3f9de-7cbc-4330-808e-96142ce7ca42.png)

If you inspect the DOM element, you can that now it has the ```aria-label``` attribute:
![image](https://user-images.githubu

[2021-09-15 09:10] fifoosid commented on #3927
FYI @SAP/ui5-webcomponents-topic-rd

[2021-09-15 11:17] nnaydenow commented on #3613
Hi @AndrianStoikov,

You can check the linked PR for more information regarding your feature request.

BR,
Nayden

[2021-09-15 11:17] #3613 closed

[2021-09-15 12:26] sfsf-xweb-sh commented on #3806
Hi @fifoosid
Thanks for your reply.

I know the fact that the Dom has `aria-label` attribute now.
But the fact is the role of radio button ( radio ) is not announced by screenreader. and the `aria-label: Item Selection` can not be announced by screen reader too

[2021-09-15 12:38] #3531 closed

[2021-09-15 12:38] #3558 closed

[2021-09-15 13:14] dobrinyonkov commented on #3806
Hi @sfsf-xweb-sh,

By design, those radio buttons are not meant to be interactive and they are not reachable via keyboard, therefore they are not announced.
They have tabindex attribute of "-1".

The reproted issue of AXE is that every toggle field should have an accessible name.

Kind Regards,
Dobrin

[2021-09-15 13:36] terezamch commented on #3918
Hello colleagues @SAP/ui5-webcomponents-topic-p,

As of now mouseover/mouseenter, mouseleave and click events are fired on ui5-tree level, but they cannot be fired on ui5-tree-item as these items are rendered (as ui5-list + ui5-li-tree components) by the ui5-tree component.

As stated by the author of the issue the use case is: "We would like to highlight another element when the user hovers over

[2021-09-15 13:41] ilhan007 commented on #3726
Hello @2bno1 could you reply to @MapTo0 's question above so we can continue processing the issue

[2021-09-15 17:25] gurkirpalgill commented on #3699
any updates on this?

[2021-09-15 20:49] allen138 opened #3932 "ui5-link is not underlined in hcb/hcw modes."
### **Bug Description**
In high contrast themes, the links are missing underlines in the default state.
### **Expected Behavior**
In high contrast themes, since the link colors are almost the same as their surrounding text, low vision users need to be able to distinguish links from normal text. Hence they need to have underlines in the default state. Please refer to the screenshots from UI5 link s

[2021-09-15 22:43] codefactor opened #3933 "Axe A11y Issues Report for the Shellbar and related components"
### **Bug Description**
As part of our release cycle we ran some Axe reports and I noticed the following issues - sorry of these have already been reported! This might need to be broken up into multiple tickets.

I'll go through my findings below where I think we might be able to make a change and reduce the number of issues.

NOTE: Some of these are not hard requirements or suggestions, just my g

[2021-09-16 02:22] 2bno1 commented on #3726
@MapTo0 Except for the 200 items limitation due to Fiori guideline, we have another technical reason of choosing Input instead of ComboBox. We have requirement of loading option items by pagination, initially, it only loads 1st page of the option items, and when the user scroll the options down to the end, it should triggers loading next page of the option items and so on.

Input element provides

[2021-09-16 02:44] ericchan1983 commented on #3778
Hi @TeodorTaushanov,

https://codesandbox.io/s/ui5-webcomponents-forked-xtrox?file=/index.html:300-317
![image](https://user-images.githubusercontent.com/1614528/133540946-e6d22d10-19bb-4be5-a50b-3d96a25a8623.png)

In the example you provided, there are two aria-labels for the UI5-dialog.

Regards,
Eric Chen

[2021-09-16 05:55] ericchan1983 commented on #3768
Hi @TeodorTaushanov,

I am from SuccessFactors Web Experience Shanghai team.

Our team is only allowed to use the SF version of ui5-webcomponent.
We can not use rc version of ui5-webcomponent.

If this issue is fixed in master branch. Can you please downport this feature to 0.31.x ? ( The current version is 0.31.17, maybe you can release 0.31.18 )

Regards,
Eric Chen

[2021-09-16 06:26] ilhan007 commented on #3768
Hi @ericchan1983 we will downport it.

[2021-09-16 07:09] ericchan1983 commented on #3768
Hi @Lukas742,

Once the feature is downported, can you help to upgrade the ui5-wc-react to support the new property on react component?

Regards,
Eric Chen

[2021-09-16 07:38] ilhan007 commented on #3768
Hi @ericchan1983 first we need to release a new patch, then we will  notify ui5-wc-react (as we always do)
to release new patch on their side. We wait for few more issues to be fixed before releasing, probably we will do that on Monday.

[2021-09-16 07:39] Lukas742 commented on #3768
Hi @ericchan1983

depending on the effort on our side, we usually release no later than 3 days after the sf release of the web components, in most cases it's on the same or next day.

[2021-09-16 07:55] ericchan1983 commented on #3841
Hi @gmkv,

After testing, the toast message can be announced in latest version of NVDA - v2021.1 by adding the role="alert" for "Toast" like this:
<ui5-toast id="wcToastBasic" duration="10000" role="alert">
    This text should be announced by screen reader
</ui5-toast >
But the expected behavior should be "Alert This text should be announced by screen reader", not just "This text should be announ

[2021-09-16 07:59] sfsf-xweb-sh opened #3934 "[SF][Badge]: color of badge is override when header bar loaded"
### **Bug Description**
When set color scheme to 8, color of badge is override after header loaded, It should keep black instead of green.
Please help check it.

### **Steps to Reproduce**
 Go to https://qacand.hcm.ondemand.com/sf/ompassignment?action=create#/assignment-detail/ao/9361?source=omp_manage .

### **Isolated Example**
Before header bar load:
<img width="1310" alt="Screen Shot 2021-09-1

[2021-09-16 08:57] #3611 closed

[2021-09-16 09:00] terezamch commented on #3932
Hello colleagues @SAP/ui5-webcomponents-topic-b,

When hovered the ui5-link component still has its underline in Quartz HCB and Quartz HCW themes.
https://sap.github.io/ui5-webcomponents/master/playground/components/Link/?sap-ui-theme=sap_fiori_3_hcb&isrtl=false

Note: the issue is reproducible in the master and in 0.31.x

Best regards,
Tereza

[2021-09-16 09:26] terezamch commented on #3934
Hello @sfsf-xweb-sh,

A Badge with color scheme 8 results in greenish component. Please refer to https://sap.github.io/ui5-webcomponents/playground/components/Badge/

Also, I cannot log into the system for some reason. Could you please provide the credentials?

Best regards,
Tereza

[2021-09-16 09:51] sfsf-xweb-sh opened #3940 "[SF][A11Y][Badge]: Fails to meet color contrast ratio with respect to background color when color scheme is "1""
Hi Colleague,
There is a A11Y issue:Fails to meet color contrast ratio with respect to background color when color scheme is "8".
Please take a look. This issue affect OMP and Assignment(b2111 release).

![Screen Shot 2021-09-16 at 5 40 08 PM](https://user-images.githubusercontent.com/78520316/133591040-2a355d95-cf5c-4d0e-8909-07d0ec63dc23.png)

### **Expected Behavior**
![Screen Shot 2021-09-16 a

[2021-09-16 12:11] fifoosid commented on #3934
Hi @SAP/ui5-webcomponents-topic-rd

The bug can be reproduced here: https://codesandbox.io/s/ui5-webcomponents-forked-t58r5?file=/src/index.js
Steps to reproduce:
1. Try commenting out the import of the ```ui5-shellbar```
2. Check that the colours of the ```ui5-badge``` changes. When the Shellbar is imported, the badge is green, when it is not- the badge is black

@sfsf-xweb-sh in order for your t

[2021-09-16 12:18] sfsf-xweb-sh commented on #3806
Hi @dobrinyonkov  @fifoosid

I mean that, the screen reader ( NVDA ) will read "Offer Rejected 2 not selected 5 of 6" now.
But the screen reader should read "Option 5 radio button Offer Rejected 2 not checked 5 of 6"

Because I use ui5-list ( mode: SingleSelectBegin ), so it's behavior should be similar to radio button.
If screen reader don't announce "Option 5 radio button" in this case, user  wi

[2021-09-16 13:41] gmkv commented on #3934
The fix for this will be included with the next release of v0.31.XX.

[2021-09-16 13:50] #3841 closed

[2021-09-16 19:11] SriramParamasivam opened #3947 "Tree: Unnecessary scroll bar coming up in RTL mode."
**Describe the bug**
Unnecessary scroll bar coming up in RTL mode.

**Isolated Example**
https://sap.github.io/ui5-webcomponents-react/?path=/docs/data-display-tree--default-story&globals=direction:rtl

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Tree component https://sap.github.io/ui5-webcomponents-react/?path=/docs/data-display-tree--default-story&globals=direction:rtl
4. See unw

[2021-09-17 00:55] lormanlau opened #3945 "DateTimePicker Icon not accessible by keyboard"
### **Bug Description**
A clear and concise description of what the bug is.
Navigation with the keyboard is not possible to the calendar icon in the DateTimePicker component and the accessibility message does not match.

### **Expected Behavior**
A clear and concise description of what you expect to happen.
Use should be able to navigate to the DateTimePicker calendar icon using keyboard

### **St

[2021-09-17 02:03] sfsf-xweb-sh commented on #3934
Hi @terezamch，
I left the credentials on slack https://sap-successfactors.slack.com/archives/CTHEMAZ8C/p1631842772047900?thread_ts=1631582945.038200&cid=CTHEMAZ8C. Please take a look.
Thanks.

Josephine

[2021-09-17 03:03] MisherLiu commented on #3882
Dear Dev Team,

Could you give some update on this please?

Thanks and Regards
Misher

[2021-09-17 04:41] ilhan007 commented on #3940
Hello @SAP/ui5-webcomponents-topic-rd could you check the contrast ration issue that has been reported. Perhaps this might be fixed with the latest color changes.

https://github.com/SAP/ui5-webcomponents/pull/3926

[2021-09-17 04:42] ilhan007 commented on #3940
Hello @sfsf-xweb-sh the title mentions scheme "1", the issue description - scheme "8". Is it 1 or 8 at the end.

[2021-09-17 05:46] ndeshev opened #3946 "ValueState: The padding of value state header is not consistent"
The value state header paddings in the input components with suggestions are not according to the Fiori specifications in ComboBox, MultiComboBox and MultiInput.

This issue is fixed for `ui5-input` with #3833 and the changes should be also applied to the components mentioned above.

### **Priority**
- [ ] Low
- [x] Medium
- [ ] High
- [ ] Very High

[2021-09-17 06:07] ilhan007 commented on #3947
Hello @SAP/ui5-webcomponents-topic-p could you take a look of this issue. The issue itself is not that severe, but the priority is high, because of the short deadline for resolving.

[2021-09-17 06:29] dobrinyonkov commented on #3806
Hi @sfsf-xweb-sh,

Thank you for clarifying!
I will route your feedback to the specification owners for further discussion.

Kind Regards,
Dobrin

[2021-09-17 06:55] ilhan007 commented on #3925
Hello @SAP/ui5-webcomponents-topic-rl I checked the OpenUI5 ComboBox and it sets "aria-controls" once the dropdown opens, while the ComboBox component does not seem to set it at all. I guess we should add aria-controls pointing the the dropdown list as in OpenUI5

[2021-09-17 06:58] ilhan007 commented on #3945
Hello @lormanlau the DatePicker's (and DateTimePicker) icon can't be reached via keyboard by design. There are other means to open the popup - F4., ALT+UP, ALT+DOWN.

[2021-09-17 06:58] #3945 closed

[2021-09-17 06:59] #3763 closed

[2021-09-17 07:01] #3764 closed

[2021-09-17 07:04] gmkv commented on #3940
The one pictured is `color-scheme="1"`. And it indeed fails to meet the minimum contrast ratio. I'll discuss this with the design team.

[2021-09-17 07:09] ilhan007 commented on #3933
Hello @codefactor thanks for reporting and the analysis

_One of the issues is already handled (not released)_
2. Headings should not be empty - Fixed with https://github.com/SAP/ui5-webcomponents/pull/3737

_One of the issues I found it's already reported_
8. Ensure interactive controls are not nested - already reported with https://github.com/SAP/ui5-webcomponents/issues/3927

For the rest it's

[2021-09-17 07:58] fifoosid commented on #3934
Issue is resolved with #3926

[2021-09-17 07:58] #3934 closed

[2021-09-17 08:08] gmkv commented on #3940
Hi @sfsf-xweb-sh
The design team advised that when the text inside the Badge is bold, it is acceptable to have lower contrast ratio.
This is described here https://wiki.wdf.sap.corp/wiki/pages/viewpage.action?pageId=2095479022#Accessibility(Fiori3)-ACC-261-MinimumContrast

Regards,
Georgi

[2021-09-17 08:18] gmkv commented on #3947
This issue is caused by the invisible text, which is also an issue in SideNavigation and List, when in RTL mode. #3503

[2021-09-17 08:23] ericchan1983 commented on #3531
Hi @fifoosid,

I am from SuccessFactors Web Experience Shanghai team.

Our team is only allowed to use the SF version of ui5-webcomponent.
We can not use rc version of ui5-webcomponent.

If this issue is fixed in master branch. Can you please downport this feature to 0.31.x ? ( The current version is 0.31.17, maybe you can release 0.31.18 )

Regards,
Eric Chen

[2021-09-17 08:53] #3712 closed

[2021-09-17 08:54] fifoosid commented on #3712
The issue is fixed, but it won't be downported in 0.31.x branch, since the affected component is not present there!

[2021-09-17 09:05] #3503 closed

[2021-09-17 09:07] #3623 closed

[2021-09-17 09:59] ilhan007 commented on #3932
The priority is not related to the severity this time, but to the upcoming deadline  (31.09) for resolving the issue.

[2021-09-17 10:08] #3766 closed

[2021-09-17 10:48] fifoosid commented on #3621
Both of the issues reported are now fixed.

[2021-09-17 10:48] #3621 closed

[2021-09-17 10:53] #3919 closed

[2021-09-17 11:48] sfsf-xweb-sh commented on #3940
Sorry for typo error, It's 1 in this issue.

[2021-09-17 13:10] niyap commented on #3925
Hello @sleric1024  ,

The issue is already reproted: #3827

We are aware of this issue and other issues, related to setting relationships between accessible elements via IDrefs. Setting IDRef relationships are currently not possible due to the nature of the custom elements and their shadow DOM. The issue is present not only for UI5 Web Components, but for every framework creating custom elements a

[2021-09-17 13:10] #3925 closed

[2021-09-17 14:05] terezamch commented on #3707
Hello @kolew96 and @dimitar-trendafilov,

I have tested the scenario in the given example and in an isolated from React one - with ui5-list - https://codesandbox.io/s/headless-fog-pb0js?file=/index.html

I can distinguish only one concern - when a selected item is focused, the reader is not announcing that it is selected. For unselected items, the reader is stating that they are not selected. Coul

[2021-09-17 14:26] #3747 closed

[2021-09-17 15:21] gmkv commented on #3772
Hi @franziskajung

Can you try to write a simple example in Angular, with the translation service, but as a stub that returns some string, instead of the real thing?
https://codesandbox.io/ is useful for these types of cases.
Unfortunately I'm not familiar with Angular, so I can't make this reproducible example myself.

Regards,
Georgi

[2021-09-17 17:27] codefactor opened #3953 "`<ui5-shellbar>` Axe Issues"
### **Bug Description**
This is a break out of the various Shellbar issues documented in the following issue:
https://github.com/SAP/ui5-webcomponents/issues/3933

#### 1. Elements must only use allowed ARIA attributes

_Maybe `<ui5-buttons>` should not have an aria-label, maybe title is enough?_

This one points to several `<ui5-button>` tags in the `<ui5-shellbar>`

[code]

It also says...

It s

[2021-09-17 17:32] codefactor opened #3954 "`<ui5-button>` Axe Issue: `<svg>` has `role="presentation"` but is not focusable"
### **Bug Description**
This is a break out issue copy from https://github.com/SAP/ui5-webcomponents/issues/3933

#### 3. Elements of role none or presentation should be flagged

_custom shellbar icon buttons should have role="img" on the `<svg>` ?_

This one comes up for shellbar icon buttons `<svg>`, but not all of them just the custom ones. The search button and the account menu seem fine. This

[2021-09-17 17:38] codefactor opened #3955 "Axe Issue: Block Layer for Popups has a tabindex=1"
### **Bug Description**
This is a breakout issue from https://github.com/SAP/ui5-webcomponents/issues/3933

#### 4. Elements should not have tabindex greater than zero

_The ui5 block layer maybe should have tabindex=0?_

This one comes up for popups that have a block layer underneath - for some reason the tabindex=1 for this layer, maybe it should be 0?

### **Expected Behavior**
Opened dialogs s

[2021-09-17 17:47] codefactor opened #3956 "Popup Axe Issue: Popups that are not Dialog have no accessible name"
### **Bug Description**
This is a break out issue from the following:
https://github.com/SAP/ui5-webcomponents/issues/3933

#### 6. ARIA dialog and alertdialog nodes should have an accessible name

_output with custom Popup element has `aria-labelledby="ui5-popup-header"` but no such element exists._

Try this yourself on the shellbar playground and click the account menu for "An Kimura" -- inside

[2021-09-17 17:50] codefactor opened #3957 "`<ui5-list>` Axe Issues"
### **Bug Description**
This is a break out issue from the following:
https://github.com/SAP/ui5-webcomponents/issues/3933

#### 5. Document should not have more than one banner landmark

_maybe the `<ui5-list>` should put a role onto the `<header>` so it doesn't think that's a "banner" landmark?_

This one comes up for any `<ui5-list>` element when there is also a `<ui5-shellbar>` because the ui5

[2021-09-17 17:53] codefactor commented on #3933
I have created the following break out tickets:

1. https://github.com/SAP/ui5-webcomponents/issues/3953
2. https://github.com/SAP/ui5-webcomponents/issues/3954
3. https://github.com/SAP/ui5-webcomponents/issues/3955
4. https://github.com/SAP/ui5-webcomponents/issues/3956
5. https://github.com/SAP/ui5-webcomponents/issues/3957

2 other issues as mentioned are duplicates and linked here:

1. https:

[2021-09-20 02:54] ericchan1983 commented on #3712
Hi @fifoosid,

Even though the affected component CardHeader is not present in 0.31.x, the issue is also existing in the Card web component. In the 0.31.x, the Card used the heading (string) to set the card title.
Could you also fix this issue on the Card web component to support the heading level on Card title, please?

Regards,
Eric Chen

[2021-09-20 07:36] ilhan007 commented on #3758
Hello @SAP/ui5-webcomponents-topic-rl I am raising the priority, not because of the severity of the issue, but because of  the deadline (approx. end of Sep) for resolving it.

Thank you for your cooperation.

[2021-09-20 08:26] ilhan007 commented on #3707
Hello @dimitar-trendafilov could you take a look of the previous comment by @terezamch so we can continue processing the issue?

[2021-09-20 09:05] #3933 closed

[2021-09-20 09:23] ilhan007 commented on #3758
Hello @SAP/ui5-webcomponents-topic-rl I think I got the issue

the method "announceSelectedItem" is used within ComboBox and Input components, this parts of the code have beem probably downported along with other fixes, but the announceSelectedItem implementation has not been downported.

I will handle this issue

[2021-09-20 09:33] ilhan007 commented on #3758
Hello @sleric1024 the issue will be fixed with the next patch, thanks for reporting!

[2021-09-20 09:33] #3758 closed

[2021-09-20 11:08] ilhan007 commented on #3957
Hello @SAP/ui5-webcomponents-topic-p could you please take a look of this ACC issues, related to the List

[2021-09-20 11:10] #3767 closed

[2021-09-20 11:19] ilhan007 commented on #3955
Hello @SAP/ui5-webcomponents-topic-rd could you check if "Elements should not have tabindex greater than zero" is an accessibility rule that we break by setting tabindex=1 on the pop's block layer.

[2021-09-20 11:55] fifoosid commented on #3712
Hi @ericchan1983

As mentioned above, the fix cannot be downported in the 0.31 branch as the ```ui5-card-header``` component is not present there.

However, ariaLevel property is now exposed on ```ui5-card``` level and can be used to achieve the same result. It will be available with the next version from branch 0.31. Keep in mind that once you upgrade the version of ```ui5-webcomponents``` you ar

[2021-09-20 12:13] #3927 closed

[2021-09-20 13:38] PetyaMarkovaBogdanova commented on #3956
Hi @codefactor,
ui5-popover component does have **accessibleName** property, which should either be used as accessible name,
or headerText should be provided in case there is a header designed for the particular popover.
In Popover sample in the playground the issue is not fired by AXE tool, because the headerText is provided and
'ui5-popup-header" is assigned as an aria-labelledby value.
In this

[2021-09-20 13:53] dobrinyonkov commented on #3957
Hello @codefactor,

in regards to the second observation (7. ARIA input fields must have an accessible name), with a recent change (#3952) we changed the default role of the `ui5-list` to list, so accessible name is no longer required. However, the `ui5-list` component provides a property called accessibleName in case the application needs to set one in the context of the use case.

I will further

[2021-09-20 14:11] Todor-ads commented on #3932
Hello @allen138 ,

Can you provide a link to an application or an isolated scenario where this problem is reproduced?
This is currently an issue in the  playground in the belize  HCB / HCW theme (fiori 3 is ok) - https://sap.github.io/ui5-webcomponents/playground/components/Link/ . If this is the problem you have, it has already been fixed. In case of a different scenario, please provide more info

[2021-09-20 14:28] ilhan007 commented on #3767
released with 0.31.18

[2021-09-20 14:28] ilhan007 commented on #3923
released with 0.31.18

[2021-09-20 14:29] ilhan007 commented on #3611
fixed with 0.31.18

[2021-09-20 14:29] ilhan007 commented on #3531
Fixed with 0.31.18

[2021-09-20 14:29] ilhan007 commented on #3837
Fixed with 0.31.18

[2021-09-20 14:30] ilhan007 commented on #3927
Fixed with 0.31.18

[2021-09-20 14:30] ilhan007 commented on #3841
Fixed with 0.31.18

[2021-09-20 14:30] ilhan007 commented on #3503
Fixed with 0.31.18

[2021-09-20 14:31] ilhan007 commented on #3766
Fixed with 0.31.18

[2021-09-20 14:31] ilhan007 commented on #3712
Fixed with 0.31.18

[2021-09-20 14:32] ilhan007 commented on #3768
Fixed with 0.31.18 - new accessibleName property has been introduced for the purpose.

[2021-09-20 14:55] #3721 closed, assigned to niyap

[2021-09-20 14:55] ilhan007 commented on #3953
Hello @SAP/ui5-webcomponents-topic-p could you check this issue related to the buttons inside the ShellBar, if they are implemented by spec. According to the author's words, his checks report issues when the button has both title and aria-label, could that be wrong, see the details above?

[2021-09-20 16:45] niyap opened #3962 "Slider/RangeSlide: On mobile device, in Safari, focus always remains over the component."
### **Bug Description**
 On mobile device, in Safari, focus always remains over the component. When you tap both over the whole scale or just over a handle and it get activated, then on tap outside the slider, the focus outline is still visible over the handle, as well as if tooltips are used, they are not hidden.

### **Steps to Reproduce**
1. Go to https://sap.github.io/ui5-webcomponents/master/

[2021-09-21 04:45] #3867 closed

[2021-09-21 06:50] ilhan007 commented on #3954
Hi @PetyaMarkovaBogdanova could you process this one as well

[2021-09-21 06:53] ilhan007 commented on #3956
Hi @PetyaMarkovaBogdanova

Actually accessibleName property is a property released in RC.15, but not available in the 0.31, the version that our colleagues from SF is using.

And, regarding "In Popover sample in the playground the issue is not fired by AXE tool, because the headerText is provided and 'ui5-popup-header' is assigned as an aria-labelledby value.",
you will have to check out the 0.31

[2021-09-21 07:05] #3932 closed

[2021-09-21 07:07] niyap opened #3964 "ValueStateHeader: Align the visualisation according to the specification among all input components"
### **Bug Description**
The value state header is differently visualised among the components:
**ui5-input** When suggestions drop down has a vertical scrollbar, vertical white lines are presented on the left and right side of the value state header.
**ui5-combobox** When suggestions drowdown has a  vertical scrollbar presented, it covers the value state header as well. Something more, it depends

[2021-09-21 07:56] #3809 closed

[2021-09-21 08:09] niyap opened #3965 "ComboBox: TAB behaviour incorrect when suggestions dropdown is open"
### **Bug Description**
When suggestions dropdown is open, when TAB is pressed, instead of moving focus to the next focusable element within the page, the suggestion dropdown is closed and the focus remains in the same combobox.

### **Expected Behavior**
The focus is moved to the next focusable element on the page.

### **Steps to Reproduce**
1. Go to https://sap.github.io/ui5-webcomponents/maste

[2021-09-21 08:19] niyap opened #3966 "ComboBox: Suggestions dropdown is closed on click over the value state header"
### **Bug Description**
Suggestions dropdown is closed on click over the value state header.

### **Expected Behavior**
Suggestions dropdown remains open

### **Steps to Reproduce**
1. Go to https://sap.github.io/ui5-webcomponents/master/playground/main/pages/ComboBox/
2. Open the suggestion dropdown of the first sample with value state error
3. Click over the value state header

The issue is not

[2021-09-21 10:31] veith opened #3968 "Very unlucky event name `selection-changed` in `Table.js`"
### **Bug Description**
According to the documentation a table will fire a `selection-changed` event in MultiSelect or SingleSelect mode. This event will never arrive on the parent dom nodes.

The default config does not allow this event.

[code]

Removing selection-change in the config will enable this event on a lot of other components.

### **Expected Behavior**
Having a event like documented,

[2021-09-21 10:41] yuanweilei commented on #3919
@niyap
Hi, could you tell me when I can get a release version for this please?
Thanks in advance.

[2021-09-21 11:05] PetyaMarkovaBogdanova commented on #3956
Hi @codefactor , @ilhan007 ,
after retesting I found out that in version 0.31 the accessible name can be given to the Popover component via **ariaLabel** property.
I consider it not an issue that requires downporting.

Kind regards,
Petya Markova.
(UI5 developer)

[2021-09-21 11:43] ilhan007 commented on #3919
Hello @yuanweilei
the fix is already available as "preview", you can try it out either by using the version **0.0.0-6d98d0c29**,
or  via the **"next"** tag
[code]

But, as far I can see you are using **ui5-webcomponents-4-react**, not directly **ui5-webcomponents**,
so we have to ask  @MarcusNotheis for a release and version from ui5-webcomponents-4-react side.

Otherwise, a stable version, Releas

[2021-09-21 11:48] ilhan007 commented on #3956
Unfortunately, ariaLabel will work if the ui5-webcomponents are directly used:
[code]

But I guess @codefactor is using the React wrappers, @codefactor is that the case?
Because "ariaLabel" is not a public property, it's a private one, and private properties are not supported by the React wrappers and setting ariaLabel will take no effect, won't be forwarded to internally to the web component.
Oth

[2021-09-21 12:22] #3456 closed

[2021-09-21 12:47] PetyaMarkovaBogdanova commented on #3954
Hi @SAP/ui5-webcomponents-topic-p,
can you, please, check if the cofiguration of role="presentation"and a tabindex "-1" is causing the AXE error?

Kind regards,
Petya Markova.
(UI5 Developer)

[2021-09-21 13:00] PetyaMarkovaBogdanova commented on #3954
The priority of the issue is not due to the severity of the issue, but because of the deadline for resolving it

[2021-09-21 13:19] PetyaMarkovaBogdanova commented on #3968
Hi colleagues in @SAP/ui5-webcomponents-topic-core ,
can you, please, advice on this request?

Kind regards,
Petya Markova.
(UI5 Developer)

[2021-09-22 02:06] sfsf-xweb-sh commented on #3806
Hi @dobrinyonkov

Is there any update about my latest comment ?
Thanks

Kind Regards,
Hubery

[2021-09-22 02:10] sfsf-xweb-sh opened #3973 "[Urgent - WithIn One Week][SF][UI5-List][A11y] accessibleName ,accessibleNameRef ,accessibleRole is not available in ui5-list component ( 0.31.18 )"
**Dear colleagues,**
I am from SuccessFactors Web Experience Shanghai team.

**Bug Description**
accessibleName ,accessibleNameRef ,accessibleRole is not available in ui5-list component ( 0.31.18 )
The above attribute is available in RC.15 but not available in 0.31.18
We need these attributes to finish a11y function

[2021-09-22 02:18] yuanweilei commented on #3919
Thank you for your reply @ilhan007
Yes, I want to use @ui5/webcomponents-react. Hopefully @MarcusNotheis can release a fixed version for this.
Thanks in advance.

[2021-09-22 05:42] ilhan007 commented on #3973
Hello @sfsf-xweb-sh
I downported the accessibleName, accessibleNameRef, accessibleRole to 0.31 with this [commit](https://github.com/SAP/ui5-webcomponents/commit/e84a3fa84a32d30eb3b59632f2433f9fcf65e5fb)

Note: the List's default role is "list" and you can change it via "accessibleRole", but the default role of the list items is "listitem", which is not currently configurable. So, if you plan to u

[2021-09-22 05:42] #3973 closed

[2021-09-22 08:11] dimitar-trendafilov commented on #3707
Hi @terezamch

Yes, this is exactly the behavior which I have observed.

[2021-09-22 08:12] ericchan1983 opened #3975 "[SF][UploadCollection]: No data description doesn't wrap in 0.31.18"
### **Bug Description**
The no data description is shown in one line rather than multiple lines as the screenshot shown.
Since the wrappingType="Normal" doesn't work on this version but the "wrap" works.

### **Expected Behavior**
A clear and concise description of what you expect to happen.

### **Steps to Reproduce**
1. Go to '...'
2. ...
3. ...

### **Isolated Example**
If possible, please prov

[2021-09-22 22:16] jeff-fillmore commented on #3918
Hello @terezamch,

I've attached is a screenshot of how we are using the Tree component and Tree Item component to build a map of the content in the main stage.

![image](https://user-images.githubusercontent.com/69171783/134428754-365aee7c-e69b-4433-8c5d-d2306a24d153.png)

We would like to highlight which content in the main stage when the user hovers over( mouseenter and mouseleave) of Tree-Item

[2021-09-23 05:27] ericchan1983 commented on #3778
Hi @TeodorTaushanov，

The PopOver has the same issue which screen reader announced the aira-label twice.
Could you also have a look at it, please?

Regards,
Eric Chen

[2021-09-23 05:50] BennyHuang commented on #3826
@fifoosid I can reproduce it with sapUiSizeCompact in the container even in the playground page. Would you please take a look again? Thanks
![image](https://user-images.githubusercontent.com/1995447/134459975-616a9148-cac0-49e9-96af-66cbe07ba810.png)

[2021-09-23 06:07] ilhan007 commented on #3768
Hi @ericchan1983

I downported the **accessibleName**, **accessibleNameRef**, **accessibleRole**  properties that the List already have in the master to the 0.31 branch with this [commit](https://github.com/SAP/ui5-webcomponents/commit/e84a3fa84a32d30eb3b59632f2433f9fcf65e5fb).

Prior to this change the List did not have **accessibleName** property in 0.31 and this is the reason for the issue.
It

[2021-09-23 06:18] PetyaMarkovaBogdanova commented on #3975
Hi colleagues from @SAP/ui5-webcomponents-topic-rd,
can you review if we can downport wrappingType functionality for label in 0.31 rather update the documentation
with clear information since which version the property can be used?
Thank you!
Kind regards,
Petya Markova.
(UI5 Developer)

[2021-09-23 06:23] ilhan007 commented on #3826
Hi Everybody

the issue is reproducible in RC.15
https://sap.github.io/ui5-webcomponents/playground/components/Timeline/?sap-ui-theme=sap_fiori_3&isrtl=false

and fixed in the latest master:
https://sap.github.io/ui5-webcomponents/master/playground/components/Timeline/?sap-ui-theme=sap_fiori_3&isrtl=false

So, we need to find the specific fix that should be downported. We will do that.

[2021-09-23 06:25] ilhan007 commented on #3826
Hello @Todor-ads @fifoosid could you confirm that this is the fix for the issue in compact mode:
https://github.com/SAP/ui5-webcomponents/pull/3902

<img width="496" alt="Screenshot 2021-09-23 at 09 25 38" src="https://user-images.githubusercontent.com/15702139/134462819-73a5116d-d985-44da-a80d-c24a7c46885b.png">
.

[2021-09-23 06:40] Todor-ads commented on #3826
Hello @ilhan007,
Yes, I confirm that this is the solution to the problem in compact mode

Best Regards,
Todor

[2021-09-23 06:55] ilhan007 commented on #3975
Hi @SAP/ui5-webcomponents-topic-rd colleagues, I will handle this issue.

[2021-09-23 07:25] dobrinyonkov commented on #3957
Hello @codefactor,

In regards to the first observation - "5. Document should not have more than one banner landmark".

When used as a ‘top’ level element, the `<header>` is a landmark and signifies the ‘banner’ area of a page – typically containing the logo, site name, and maybe the primary navigation etc. Note that `<header>` elements can also be used inside other sectioning elements. The `<head

[2021-09-23 07:25] #3957 closed

[2021-09-23 07:37] ilhan007 commented on #3975
Hello @ericchan1983
the issue is handled with the following [change](https://github.com/SAP/ui5-webcomponents/commit/289836e0d3070529957e44cef29d7a6ee4fb4ca7)

The issue will be resolved with the next patch.

[2021-09-23 07:37] #3975 closed

[2021-09-23 07:42] ilhan007 commented on #3826
Hello @rchrdchn
the following change #3902 fixes the issue you experience with the Timeline's last line in compact mode, it does not go over the last item's icon any more. This has been already fixed in the master, but now also downported to 0.31 and will be released with the next patch.

[2021-09-23 07:42] #3826 closed

[2021-09-23 07:47] 2bno1 commented on #3726
@MapTo0 @ilhan007 Is there any update on this?

[2021-09-23 08:06] dobrinyonkov commented on #3806
Hi @sfsf-xweb-sh,

we are still working on your feedback.
I will update the issue once we have clear statement.

Thanks and Best Regards,
Dobrin

[2021-09-23 08:28] 2bno1 opened #3980 "[SF][Label] text is truncated with show-colon"
### **Bug Description**
Label text is truncated if show colon is set true

### **Expected Behavior**
Label text should not be truncated if it is not exceeds the container

### **Steps to Reproduce**
1. Go to https://codesandbox.io/s/ui5-webcomponents-forked-xt2px?file=/src/index.js
2. Check the label

### **Isolated Example**
https://codesandbox.io/s/ui5-webcomponents-forked-xt2px?file=/src/index.

[2021-09-23 09:19] ericchan1983 commented on #3768
Hi @ilhan007,

Great, thanks for the quick response.

Regards,
Eric Chen

[2021-09-23 10:27] 2bno1 opened #3982 "[SF][Input] input event is triggered twice for each keystroke in FireFox"
### **Bug Description**
In FireFox, `input` event is triggered twice for each keystroke.

### **Expected Behavior**
`input` event should be triggered just once for each keystroke.

### **Steps to Reproduce**
1. Go to https://codesandbox.io/s/ui5-webcomponents-forked-gd37n?file=/index.html
2. Input some characters in the input box
3. Notice the console log

### **Isolated Example**
https://codesand

[2021-09-23 12:21] ilhan007 opened #3986 "UI5Element: set focus on keyboard handling only"
### **Feature Request Description**
We would like to set focus over the focusable web components only on pressing keyboard keys. Currently we apply focus upon mouse interaction (click) as well. So, we would have to distinguish between these two cases and apply focus outline only in the first case.

### **Proposed Solution**
Handle this on UI5Element level  so all the components can benefit right a

[2021-09-23 12:22] ilhan007 opened #3987 "Switch: display additional text"
### **Feature Request Description**
Up to the latest design specs, we need to provide a na text, displayed next to the Switch component,
pressing on which toggles the Switch (like what we have with the CheckBox and RadioButton components)

**Note:** the focus should be displayed over the switch only, not over the switch+text

### **Priority**
- [ ] Low
- [ ] Medium
- [ ] High
- [x] Very High

[2021-09-23 12:24] ilhan007 opened #3988 "FioriNext: prepare new theme's structure and build"
### **Feature Request Description**
Create the new theme folder structure and prepare the build for it.

### **Priority**
- [ ] Low
- [ ] Medium
- [ ] High
- [x] Very High

[2021-09-23 12:45] PetyaMarkovaBogdanova commented on #3980
Hi colleagues from @SAP/ui5-webcomponents-topic-rd ,
can you, please, take a look at this issue?

Kind regards,
Petya Markova.
(UI5 Developer)

[2021-09-23 12:51] ilhan007 commented on #3980
Hi @SAP/ui5-webcomponents-topic-rd, keep in mind that this might be already fixed in the master, so this is the first thing to check - if the issue is reproducible in the master. If not - look for a fix that is already merged in the master,  but not downported to 0.31 (I remember that some fixes related to the Label text truncation  have been recently merged).
If this is the case, just contact me

[2021-09-23 14:35] #3576 closed

[2021-09-23 16:42] #3953 closed

[2021-09-23 16:44] ilhan007 commented on #3953
Hi @codefactor this is fixed in the master and will be available in 0.31 with the next patch.

[2021-09-23 16:48] boghyon commented on #3986
Is there a consideration to make use of the [`:focus-visible` pseudo class](https://drafts.csswg.org/selectors/#the-focus-visible-pseudo) for this? I requested it originally at https://github.com/SAP/openui5/issues/1289#issuecomment-289203290. The `:focus-visible` (formerly `:focus-ring`) would help improving:

* Consistency of the ring visibility across the web platform.
* Accessibility for physi

[2021-09-23 17:13] ilhan007 commented on #3726
Hello @2bno1 I will ping @MapTo0 again, but I went trough the comments and as far I understood you are using an Input with suggestions and you expect that the icon you are adding will open the dropdown - basically imitating a ComboBox in some way. There is no such feature, even more, the Input design does not envision such interaction. The first time the Input opens because it's focused, not becau

[2021-09-24 01:59] rama1990br opened #3993 "ui5-link: Cannot set aria-describedby attribute"
**Describe the bug**
Can't set `aria-describedby` attribute on `<ui5-link>`.

**Steps to reproduce the behavior:**
Set `aria-describedby` attribute on `<ui5-link>`
Actual Results
Only the `<ui5-link>` tag in the light dom gets the `aria-describedby` attribute. The `<a>` tag within the shadow dom doesn't get the `aria-describedby` attribute because of which the screenreader does not read out the co

[2021-09-24 02:01] rama1990br commented on #3993
I have filed this issue for SuccessFactors, so please add the "SF" label to this issue, and this is also an accessibility issue so please add "ACC" as well.

[2021-09-24 02:04] sfsf-xweb-sh commented on #3536
Hi @ilhan007
I have tried render the ui5-responsive-popover at top-level and it works

[2021-09-24 06:41] ndeshev opened #3994 "ComboBox: Suggestions scrolling is not working on keyboard navigation"
When navigating through the suggested items with the arrow keys, if there is a scroll on the popover it is not scrolled to the item.

### **Priority**
- [ ] Low
- [x] Medium
- [ ] High
- [ ] Very High

[2021-09-24 08:23] #3988 closed

[2021-09-24 09:17] PetyaMarkovaBogdanova commented on #3982
Hi @SAP/ui5-webcomponents-topic-rl ,
can you, please, take a look at this issue?
I reproduced it with version 0.31.18 and master as well, on FF on Windows OS.

Kind regards,
Petya Markova.
(UI5 Developer)

[2021-09-24 09:19] ilhan007 commented on #3980
Fixed in 0.31.19

[2021-09-24 09:19] #3980 closed

[2021-09-24 09:20] ilhan007 commented on #3953
Fixed in 0.31.19

[2021-09-24 09:20] ilhan007 commented on #3973
Fixed with 0.31.19

[2021-09-24 09:50] nnaydenow commented on #3617
Hi @DLaskov ,

The issue is fixed with: #3705

Regards,
Nayden

[2021-09-24 09:50] #3617 closed

[2021-09-24 13:23] ilhan007 commented on #3993
Hello @rama1990br I will forward your request to the responsible team. Is this requirement critical for the 2111 release as usually the feature requests take time until its processed planned and developed. What is the timeline for resolving it?

BR,
ilhan

[2021-09-24 16:09] Neeeko commented on #3699
hi, our release is due October 1st, do you have any updates on this issue? Thanks!

[2021-09-24 20:34] lormanlau opened #4000 "Segmented button is unlabelled in screenreader form field selections"
### **Bug Description**
A clear and concise description of what the bug is.
The <ul> that has role="listbox" for the segmented button is missing accessible name (aria-labelledby) which is why its showing up as unlabelled in the JAWS Screenreader Form Field area.

### **Expected Behavior**
A clear and concise description of what you expect to happen.
Form Field shouldn't have unlabelled segmented b

[2021-09-24 20:50] rchrdchn commented on #3826
Thanks @ilhan007 - when do you guys usually release patches?

[2021-09-24 21:21] lormanlau opened #4001 "3rd applications can navigate outside of Dialog."
### **Bug Description**
A clear and concise description of what the bug is.
When using a screen reader / 3rd party application, user is able to navigate outside the dialog area.

### **Expected Behavior**
A clear and concise description of what you expect to happen.
User should only stay inside of the dialog box. https://sapui5.hana.ondemand.com/sdk/#/entity/sap.m.Dialog/sample/sap.m.sample.Dialog

[2021-09-25 05:02] ilhan007 commented on #3826
The fix is already released - 0.31.19. Usually every two week.
But because of your 2111 milestone, this week we released twice.

[2021-09-27 05:45] sfsf-xweb-sh commented on #3806
Hi @dobrinyonkov

Is there any update ?

Kind Regards,
Hubery

[2021-09-27 07:09] ilhan007 commented on #3778
Hello @ericchan1983
we have merged a fix for the Dialog, that will be released with the next patch - in few days.

Can you please open a separate issue for the Popover with reproducible example and details.

Thanks!

[2021-09-27 07:09] #3778 closed

[2021-09-27 07:17] ilhan007 commented on #3707
Hello @SAP/ui5-webcomponents-topic-p could please take over?

The selected state of the List Item is not announced by the screen reader. Although the author did not mentioned which tool has been used, the dispatcher from our side has tested the isolated example https://codesandbox.io/s/headless-fog-pb0js?file=/index.html and confirmed the issue, so I guess it is reproducible with Jaws.

BR,
ilhan

[2021-09-27 07:39] #3639 closed

[2021-09-27 07:39] #3640 closed

[2021-09-27 07:39] #3761 closed

[2021-09-27 07:39] #3762 closed

[2021-09-27 08:16] ilhan007 commented on #3681
Hello @SAP/ui5-webcomponents-topic-rd I am raising the priority to "High" as this is a stakeholder issue.

[2021-09-27 08:21] #3685 closed

[2021-09-27 08:25] sfsf-xweb-sh opened #4004 "[SF][0.31.19][UI5-Dialog][BUG][Urgent - Expected WithIn Two week] accessibleName and aria-describedby does not work in UI5 Dialog"
**Dear colleagues,**
I am from SuccessFactors **Web Experience Shanghai team.**
we use **NVDA** to test a11y issues in our project

**The version of ui5-webcomponent is 0.31.19**

**Reproduce Step:**
1. open [https://github.wdf.sap.corp/pages/xweb/common-react/?path=/story/react-components-first-time-guidance--default](https://github.wdf.sap.corp/pages/xweb/common-react/?path=/story/react-componen

[2021-09-27 08:34] nikolay-kolarov commented on #3726
Hello @2bno1,

I agree with what Ilhan wrote, and I do not think that it makes sense to try turning the Input into a Combo, as they have different UX behind.

Could you please give me a sample on how you exactly use the suggestion-scroll event, as I want to verify it with UX?
As Ilhan pointed out, this might be even an issue for the input implementation, so I need the exact use-case to cross check

[2021-09-27 08:59] sfsf-xweb-sh opened #4005 "[SF][UI5-Popover][BUG][Urgent][0.31.19] accessibleName doesn't work"
**Dear colleagues,**
I am from SuccessFactors Web Experience Shanghai team.
we use NVDA to test a11y issues in our project

**The version of ui5-webcomponent is 0.31.19**

**Reproduce Step:**
1. open https://github.wdf.sap.corp/pages/xweb/common-react/?path=/story/react-components-first-time-guidance--default
2. click "show the first normal slide"
3. click the "start tour" button

![Screen Shot 20

[2021-09-27 11:00] nnaydenow commented on #3707
Hi @kolew96,

Could you please share which version of the project you are currently using?

Seems that the problem is fixed with #3952 and the fix will be available with the next version.

BR,
Nayden

[2021-09-27 11:23] dobrinyonkov commented on #3806
Hi @sfsf-xweb-sh,

Those checkboxes and radio buttons in this case are visual indication about the selection mode being applied to the list. It should be clear that these are not real controls and there is no need to announce them as such. These are solely there to “transport” the info that this is a single or multiselectable list. However, there is no such announcment to the screen reader users s

[2021-09-27 11:55] d3xter666 commented on #3982
Hi colleagues,

This issue is a core issue rather than in the control itslef. The thing is that Firefox also sends the "native" event for the inner input.

This could be proven in a simple way:
- Get the WebComponents project locally
- Change the name of the "input" event in Input.js. For example, "input2"
- On the samples page subscribe to both of the events and put a debugger inside the event li

[2021-09-27 11:55] d3xter666 commented on #3982
Hi colleagues,

This issue is a core issue rather than in the control itslef. The thing is that Firefox also sends the "native" event for the inner input.

This could be proven in a simple way:
- Get the WebComponents project locally
- Change the name of the "input" event in Input.js. For example, "input2"
- On the samples page subscribe to both of the events and put a debugger inside the event li

[2021-09-27 12:53] #3658 closed

[2021-09-27 13:30] #3716 closed

[2021-09-27 13:56] Todor-ads commented on #4005
Hi @SAP/ui5-webcomponents-topic-rd,

The Popover component is part of your topic.

Best regards,
Todor

[2021-09-27 13:59] Todor-ads commented on #4004
Hi @SAP/ui5-webcomponents-topic-rd,

The Dialog component is part of your topic.

Best regards,
Todor

[2021-09-27 14:06] unazko commented on #3699
Hello @Neeeko and @SAP/ui5-webcomponents-topic-p colleagues,

According to the specification the icon only button should have a tooltip and an aria-label and they both will get announced. In the described case they have the same texts and double announcement appears when NVDA is used. JAWS pronounces the aria-label text only as the tooltip has the same text.

A possible workaround for the ui5-flex

[2021-09-27 16:51] rchrdchn commented on #3459
Hi guys - what's the estimated time to merge this fix to master and release it? Our team is waiting for this fix so we can close https://github.com/SAP/ui5-webcomponents/issues/3794 before the release this week.

[2021-09-27 22:56] JarrettChan opened #4009 "ui5-shellbar profile button title override"
### **Feature Request Description**
We currently can not provide the profile button with our title.
https://github.com/SAP/ui5-webcomponents/blob/master/packages/fiori/src/ShellBar.hbs#L163
SuccessFactors header has been providing a title for the profile button such as `Account Navigation for Alan Chin ‎(achin)‎` by passing along a parameter for the user, so we can't just replace it in the message

[2021-09-28 06:09] ndeshev opened #4010 "MultiComboBox: Arrow navigation through items when the suggestions popover is closed"
The user has to be able to navigate through the items with the arrow keys even if the suggestions picker is closed.

### **Priority**
- [ ] Low
- [x] Medium
- [ ] High
- [ ] Very High

[2021-09-28 09:36] saorabhkr opened #4013 "Fast navigation using F6 for UI5 WC library"
### **Feature Request Description**

Fast navigation via F6 is supported by SAPUI5 controls and it is not there for the web components. Can we have this feature for content block switching via F6 or any alternative for fast navigation techniques for web components control, so for the users, it's easy to navigate also avoid a11y errors.

### **Proposed Solution**
Block switching for SAPUI5 controls

[2021-09-28 10:50] veith opened #4014 "Dialog backdrop covers the complete screen when used inside of an element which ancestors have set the z-index"
### **Bug Description**
The complete viewport is covered by the ui5-block-layer when the dialog resides inside a ui5-page. The z-indexes of the dialog and the backdrop are correct.

The error itself is caused by any parent element which have set a z-index.

### **Expected Behavior**
The dialog should not be covered with the backdrop.

### **Steps to Reproduce**
Click on the open dialog button in t

[2021-09-28 11:44] GerganaKremenska commented on #3955
Hello @ilhan007,

We have comunicated this with the accessibility experts and there statement is that if something is not meant to recieve focus  it shoudl not have a tabindex grater that 0.
Do we expect the block layer at some point to recieve focus?
If not, can we remove the the tabindex from the blocklayer?

[2021-09-28 12:02] unazko commented on #3459
Hello @rchrdchn,

This issue caused an internal discussion with accessibility expert involved.
I'll update you with an estimation as soon as possible.

Best Regards,
Boyan

[2021-09-28 12:22] dimovpetar commented on #4005
Hello @sfsf-xweb-sh ,

In release 0.31 the property is called `ariaLabel`. It has been renamed to `accessibleName` in the newer versions with #3449. Please use the `ariaLabel` (`aria-label` as attribute) in your case instead.

Best regards,
Petar

[2021-09-28 13:16] MapTo0 commented on #3671
fixed with https://github.com/SAP/ui5-webcomponents/pull/3931

[2021-09-28 13:16] #3671 closed

[2021-09-28 13:19] #3859 closed

[2021-09-28 13:21] MapTo0 commented on #3866
Not reproducible

[2021-09-28 13:21] #3866 closed

[2021-09-28 13:33] niyap commented on #3866
The issue is fixed as part of the following change: https://github.com/SAP/ui5-webcomponents/pull/3888

[2021-09-28 13:38] dimovpetar commented on #4004
Hello @sfsf-xweb-sh ,

The issue with `accessibleName` property of the Dialog has been fixed with https://github.com/SAP/ui5-webcomponents/pull/3936. Please await the next patch for release-0.31. @ilhan007 can you cooperate on this?
The usage of `aria-describedby` is not supported. We set specific aria attributes on the section inside the shadow DOM of the Dialog - this is what gets announced and

[2021-09-29 05:13] #3784 closed

[2021-09-29 07:05] #3954 closed

[2021-09-29 07:06] ilhan007 commented on #3954
Hello @codefactor there is a fix, merged into the master, please wait for the next patch release.
Once there is a new version released, we will update you.

[2021-09-29 07:57] 2bno1 commented on #3726
@nikolay-kolarov I don't mean to turn the Input into ComboBox, I'm sorry if any of my comments let to this misunderstanding.
Actually my requirement is that the suggestions should show up each time the input get focused. Currently, it will not display suggestions after a suggestion item is selected when the input get focused.

In your comment above, you mentioned that showing of suggestions on foc

[2021-09-29 08:45] niyap commented on #3788
I have tested the reported issue using Xcode Simulator, the issue is reproducible and checking the user agent via Safari Developer Tools for Simulator, it is:
Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1 Safari/605.1.15

[2021-09-29 09:11] ilhan007 commented on #4013
Hello @saorabhkr thank you for your request. I am registering it and will be discussed in the next 1-2 weeks then I will get back to you with a statement from our side.

[2021-09-29 09:47] nnaydenow commented on #3699
Hi @gurkirpalgill,

Could you check if the issue persist in newer version where accessible-name property is introduced?

Regards,
Nayden

[2021-09-29 09:59] elenastoyanovaa commented on #3788
Hello @vladitasev ,

Sorry for the delay. On my iPad Pro on Safari the user agent string is the same as the one from the Safari Developer Tools for Simulator:

Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.1.1 Safari/605.1.15

[2021-09-29 10:21] ilhan007 commented on #3726
Hello @nikolay-kolarov
I contacted @2bno1 to schedule a meeting so we can speed up the processing the issue as replying in Github is not optimal and we (@2bno1 and I) agreed to continue the discussion after 7th Oct in a meeting, because @2bno1 will be on a vacations in this period.

**Note**: @2bno1 confirmed that it's ok to wait until 7th Oct and continue the discussion .

BR,
ilhan

[2021-09-29 10:48] Arora05 commented on #3829
Hello @fifoosid and @Shtilianova,
I am also trying to implement Wizard but using UI5-webcomponents-react library and I've been able to successfully reproduce this issue in [CodeSandbox](https://codesandbox.io/s/bitter-frog-7xm4w?file=/src/App.js).
The issue is when I try to click on Wizard step "Advanced" in the Sandbox,
The error which comes up is: **TypeError (Cannot read properties of null (rea

[2021-09-29 10:50] Arora05 commented on #3829
Hello @fifoosid  and @Shtilianova ,
I am also trying to implement Wizard but using UI5-webcomponents-react library and I've been able to successfully reproduce this issue in [CodeSandbox](https://codesandbox.io/s/bitter-frog-7xm4w?file=/src/App.js)
The issue is when I try to click on Wizard step "Advanced" in the Sandbox,
The error which comes up is: **TypeError (Cannot read properties of null (re

[2021-09-29 11:35] fifoosid commented on #3829
Hi @Arora05

Thanks for the isolated example!

This issue has been resolved in #3904

[2021-09-29 11:35] #3829 closed

[2021-09-29 14:09] unazko commented on #3699
Hello @nnaydenow,

I forgot to mention that this issue isn't reproducible in the newer versions of the project.
The reason is that in the ui5-button <code>ariaLabel</code> property is renamed to <code>accessibleName</code>.
ui5-flexible-column-layout though in the FlexibleColumnLayout.hs is still suppling to its ui5-button instance an <code>ariaLabel</code> property instead of the new <code>access

[2021-09-29 14:33] nnaydenow commented on #3699
Hi @unazko ,

Even if I change the attribute (will link PR soon) the tooltip is read too when I test the issue with NVDA.

You can check this snippix:
https://jsbin.com/zaketakufa/1/edit?html,output

Seems like screen reader specific issue.

@dobrinyonkov could you check this?

Regards,
Nayden

[2021-09-29 15:04] unazko commented on #3699
Hi @nnaydenow,

Yes, this is expected. That is why the suggested workaround is to remove the aria-label attribute.

Best Regards,
Boyan

[2021-09-29 16:21] phil-mitchell opened #4023 "ui5-table-row click handling broken when the ui5-table is in a shadow DOM"
### **Bug Description**
When a ui5-table is contained in a shadow DOM, the click event in the ui5-table-row does 2 bad things:
1. it steals focus from child elements
2. it fails to fire the row-click event

### **Expected Behavior**
When a child element is clicked (e.g. a ui5-input), the focus must stay on that input control.
When a row is clicked, the row-click event on the table must be fired.

[2021-09-29 23:27] allen138 opened #4026 "[Mobile] Input Suggestions do not show for mobile"
### **Bug Description**
In the ui5-wc playground, using the ui5-input as a search bar, attempt to search for a country. In web, an input popover will be displayed with the results. On mobile, there no popover displayed. In our application the user generates a search and when the response comes back we then loop through and create the suggested items. For mobile, the user will need to click the inp

[2021-09-30 05:01] sleric1024 opened #4027 "Combobox: list options are not announced with JAWS and user will not know which item to select"
**Describe the bug**
When user select one option from the combobox with keyboard, the selected option cannot be announced sometime by JAWS user. Which will blocking the JAWS users.

**Isolated Example**
https://codesandbox.io/s/c2fj5?file=/package.json:157-278

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://c2fj5.csb.app/
2. Open JAWS
2. Tab to focus the control
3. Using down -

[2021-09-30 06:11] dobrinyonkov commented on #3699
Hi all,

I would say that the suggested solution is the right thing to do. There shouldn't be `title` and `aria-label` attributes with the same value as it will get announced twice. Some screen readers might be smart enough to detect this and read the value once, some might not.
Especially necessary for icon-only buttons is the tooltip (title attribute). So we should be OK to remove the redundant

[2021-09-30 08:18] vladitasev opened #4029 "ui5-input suggestions don't show if you change the value programmatically"
**Reproduction**:

[code]

**Actual behavior:**

1. Click the input, the suggestions popup will appear, click a suggestion, it will be set as the input value
2. Delete the input value with the keyboard (f.e. backspace)
3. Click the input again, suggestions work (the popup shows). If you click outside and then back in the input, suggestions work.
4. Now click the "Clear" button to do the same as in

[2021-09-30 08:27] #3848 closed

[2021-09-30 08:29] Todor-ads commented on #4000
Hi colleagues from @SAP/ui5-webcomponents-topic-b,
can you please take a look at this issue.

Best regards,
Todor

[2021-09-30 09:51] ilhan007 opened #4032 "Feature Request: Implement new sap_horizon theme"
### **Feature Request Description**
Implement the new theme for the following components:

- Button - Topic Core
- CheckBox - Topic Core
- Switch - Topic Core
- RadioButton - Topic Core
- Input - Topic Core
- DatePicker - Topic Core
- ListItem - Topic Core
- Badge - Topic Core
- Tabs  - Topic Core (of the Tab Container)
- Slider - Topic RL

[2021-09-30 09:56] 2bno1 opened #4033 "[SF] [Label] [Safari] text is truncated with show-colon and required is true"
### **Bug Description**
The text of ui5-label is truncated in Safari if both show-colon and required attributes are set to true

### **Expected Behavior**
The text of ui5-label should not be truncated.

### **Steps to Reproduce**
1. Go to https://codesandbox.io/s/ui5-webcomponents-forked-pheln?file=/index.html
2. Check the text of the label

### **Isolated Example**
https://codesandbox.io/s/ui5-we

[2021-09-30 10:41] Arora05 commented on #3829
Hi @fifoosid,
Can you please tell me the release, in which we expect it to function as expected?

Thanks,
Kshitiz

[2021-09-30 11:22] fifoosid commented on #3829
Hi @Arora05

It will be released in 1.0.0-rc.16

[2021-09-30 13:46] #3598 closed

[2021-09-30 15:26] veith opened #4037 "Documented Events do not traverse a shadow root border"
### **Bug Description**
Using lit2 the "normalEvent" events from Ui5Element do not "bubble" across  a shadow root border. This is because the normalEvent have set `composed: false`.

### **Expected Behavior**
Documented events which should bubble, should also bubble through the parent components. Like they did with older versions of lit-element.

It is much more efficient to write a event delegati

[2021-09-30 17:00] maltenorstroem commented on #4037
In the case of higher value compositions, it is important that the events of the assembled components bubble over the shadow root borders. Otherwise, each event must be dispatched under a new event name.

It is not clear from the component documentation whether the event bubbles and have set composed=true.

I would very much welcome an adjustment.

[2021-09-30 19:22] ilhan007 opened #4038 "Feature Request[Button]: Implement new sap_horizon theme"

[2021-09-30 19:23] ilhan007 opened #4039 "Feature Request[Switch]: Implement new sap_horizon theme"
### **Feature Request Description**
We would like to implement the sap_horizon theme for the Slider component as specified [here](https://www.figma.com/file/kw0IUpM30wlRqvH6q87bhI/Fiori-Next-Alpha?node-id=656%3A1009).

### **Priority**
- [ ] Low
- [ ] Medium
- [ ] High
- [x] Very High

[2021-09-30 19:24] ilhan007 opened #4040 "Feature Request[Input]: Implement new sap_horizon theme"
### **Feature Request Description**
We would like to implement the sap_horizon theme for the Slider component as specified [here](https://www.figma.com/file/kw0IUpM30wlRqvH6q87bhI/Fiori-Next-Alpha?node-id=656%3A1009).

### **Priority**
- [ ] Low
- [ ] Medium
- [ ] High
- [x] Very High

[2021-09-30 19:25] ilhan007 opened #4041 "Feature Request[CheckBox]: Implement new sap_horizon theme"
### **Feature Request Description**
We would like to implement the sap_horizon theme for the Slider component as specified [here](https://www.figma.com/file/kw0IUpM30wlRqvH6q87bhI/Fiori-Next-Alpha?node-id=656%3A1009).

### **Priority**
- [ ] Low
- [ ] Medium
- [ ] High
- [x] Very High

[2021-09-30 19:26] ilhan007 opened #4042 "Feature Request[RadioButton]: Implement new sap_horizon theme"
### **Feature Request Description**
We would like to implement the sap_horizon theme for the Slider component as specified [here](https://www.figma.com/file/kw0IUpM30wlRqvH6q87bhI/Fiori-Next-Alpha?node-id=656%3A1009).

### **Priority**
- [ ] Low
- [ ] Medium
- [ ] High
- [x] Very High

[2021-09-30 19:30] ilhan007 opened #4043 "Feature Request[Badge]: Implement new sap_horizon theme"
### **Feature Request Description**
We would like to implement the sap_horizon theme for the Slider component as specified [here](https://www.figma.com/file/kw0IUpM30wlRqvH6q87bhI/Fiori-Next-Alpha?node-id=656%3A1009).

### **Priority**
- [ ] Low
- [ ] Medium
- [ ] High
- [x] Very High

[2021-09-30 19:33] ilhan007 opened #4044 "Feature Request[Slider]: Implement new sap_horizon theme"
### **Feature Request Description**
We would like to implement the sap_horizon theme for the Slider component as specified [here](https://www.figma.com/file/kw0IUpM30wlRqvH6q87bhI/Fiori-Next-Alpha?node-id=656%3A1009).

### **Additional Context**
In addition to the design changes, there is also "vertical" Slider, that could be implemented separately as an enhancement.

### **Priority**
- [ ] Low
-

[2021-09-30 19:41] ilhan007 opened #4045 "Feature Request[Tabs]: Implement new sap_horizon theme"
### **Feature Request Description**
We would like to implement the sap_horizon theme for the Slider component as specified [here](https://www.figma.com/file/kw0IUpM30wlRqvH6q87bhI/Fiori-Next-Alpha?node-id=656%3A1009).

### **Priority**
- [ ] Low
- [ ] Medium
- [ ] High
- [x] Very High

[2021-09-30 19:44] ilhan007 opened #4046 "Feature Request[DatePicker]: Implement new sap_horizon theme"
### **Feature Request Description**
We would like to implement the sap_horizon theme for the Slider component as specified [here](https://www.figma.com/file/kw0IUpM30wlRqvH6q87bhI/Fiori-Next-Alpha?node-id=656%3A1009).

### **Additional Context**
In addition to the design changes, there is also "vertical" Slider, that could be implemented separately as an enhancement.

### **Priority**
- [ ] Low
-

[2021-10-01 01:41] JarrettChan opened #4047 "[SF] downport Indonesian messagebundles"
### **Bug Description**
SuccessFactors supports Indonesian, but when we pass 'id' language to UI5 web components 0.31 config there are no 'id' messagebundles, so we see English for these messages.

Master branch shows Indonesian messagebundles, can these be downported to 0.31?

The other SF locales look fine.

### **Context**
- UI5 Web Components version: 0.31.19

### **Priority**
- [ ] Low
- [x]

[2021-10-01 06:06] Todor-ads commented on #4029
Hi @SAP/ui5-webcomponents-topic-rl
The Input component is part of your topic.
Isolated example - https://codesandbox.io/s/compassionate-ganguly-9ox9c?file=/src/index.js

Best Regards,
Todor

[2021-10-01 07:47] Todor-ads commented on #4026
Hi @SAP/ui5-webcomponents-topic-rl
The Input component is part of your topic.

Best Regards,
Todor

[2021-10-01 08:30] Lukas742 opened #4049 "List: the SPACE key doesn't work inside the List `header` for Input fields"
### **Bug Description**
When rendering an `Input` inside a `List` `header` slot, it's not possible to type in the SPACE key.

### **Expected Behavior**
It should be possible to use SPACE to add an whitespace within an input field inside a list header.

### **Steps to Reproduce**
1. Go to [codeSandbox](https://codesandbox.io/s/ui5-webcomponents-forked-xxtib?file=/src/index.js)
2. Try to add a white

[2021-10-01 11:44] gagarin880120 opened #4056 "[ResponsivePopover]: it is no way to styling pointer"
**Describe the bug**
When I try to style ResponsivePopover component, styles are not applied to pointer. When I try to style elements, which are under shadow-root (try to style exactly pointer via styled-components), I couldn't do this.

**Isolated Example**
*Please provide an isolated example if possible by forking [this codesandbox](https://codesandbox.io/s/ui5-webcomponents-react-template-29l34

[2021-10-01 11:45] ilhan007 commented on #3459
A fix has been merged, you can expect a release on Monday. We will keep the issue open until you confirm it's resolved.

[2021-10-01 12:51] dobrinyonkov commented on #3806
Hi @sfsf-xweb-sh,

the above is now added to the `ui5-list` implementation. On entry a tutor message about the type of selection of the list is announced.

Kind Regards,
Dobrin

[2021-10-01 12:51] #3806 closed

[2021-10-01 13:26] vladitasev commented on #4037
Hello @veith , @maltenorstroem

I don't understand what you mean by:
*Using lit2 the "normalEvent" events from Ui5Element do not "bubble" across a shadow root border. This is because the normalEvent have set composed: false.
.....
Like they did with older versions of lit-element.*

Events have never been `composed` in UI5 Web Components, regardless of the `lit-html` version we have used (if that's

[2021-10-01 13:35] #4023 closed

[2021-10-01 19:45] JarrettChan opened #4059 "ui5-shellbar: mobile view search transparent background"
### **Bug Description**
When `--sapShellColor` is transparent, the mobile search view has a transparent background and shows the shellbar underneath.
ie. sap_belize theme

### **Expected Behavior**
A guaranteed background for `.ui5-shellbar-search-full-width-wrapper`.

### **Steps to Reproduce**
1. https://sap.github.io/ui5-webcomponents/playground/components/ShellBar/?sap-ui-theme=sap_belize&isrt

[2021-10-02 06:47] veith commented on #4037
hi @vladitasev

Thank you for the detailed response.

Your points are **absolute correct**!

The strange thing is, that with older version of lit-element, i received every event, regardless if they were composed or not. By switching to lit2 i came from a noisy environment to an absolute silent environment.

I have done some tests and found a trivial solution. Instead of doing `this.addEventListene

[2021-10-03 13:40] #4037 closed

[2021-10-03 16:31] ilhan007 commented on #4004
Hello @sfsf-xweb-sh

as @dimovpetar said the issue has been resolved with #3936
The change will be available with 0.31.20. For now I am keeping the issue open,
 so you can confirm and close it yourself afterwards.

[2021-10-03 16:58] ilhan007 commented on #4005
Hello @sfsf-xweb-sh
we introduced `accessibleName` for the Popover component
and it will be available with 0.31.20.

I am keeping the issue open, so you can close the issue yourself after trying it out.

[2021-10-04 05:57] Todor-ads commented on #4027
Hi @sleric1024,
Thank you for sharing this finding.
This issue has been fixed in the latest version of Combo Box.
Regards,
Todor

[2021-10-04 06:00] Todor-ads commented on #4001
Hello @lormanlau,
Thank you for sharing this finding.
Can you check if this problem persist? I tried to reproduce it, but I failed. It is not possible to focus anything outside of Dialog.
Regards,
Todor

[2021-10-04 06:54] ilhan007 commented on #3778
Resolved with 0.31.20

[2021-10-04 06:55] niyap commented on #4026
Hello @allen138,

Could you please check whether the issue is now reproducible with the following link: https://sap.github.io/ui5-webcomponents/master/playground/components/Input/
as an enhancement is already done via PR #4025

Kind Regards,
Niya

[2021-10-04 06:55] ilhan007 commented on #3459
Hello @lv75 the issue is resolved with 0.31.20, could you try the new version and let us know if everything is fine.

[2021-10-04 06:56] ilhan007 commented on #4047
Hello @JarrettChan the "id" message bundle is part of 0.31.20

[2021-10-04 06:56] #4047 closed

[2021-10-04 06:57] ilhan007 commented on #3954
Hello @codefactor the issue has been resolved in 0.31.20

[2021-10-04 06:58] ilhan007 commented on #4004
Hello @sfsf-xweb-sh the 0.31.20 is released and accessibleName has been added to the Dialog.

[2021-10-04 06:59] ilhan007 commented on #4005
Hello @sfsf-xweb-sh the 0.31.20 is released and accessibleName has been added to the Popover.

[2021-10-04 07:01] ilhan007 commented on #3806
Hello @sfsf-xweb-sh we released 0.31.20, including one more fix to the List - on entry a tutor message about the type of selection of the list is announced.

[2021-10-04 11:20] vladitasev commented on #2329
Duplicate of: https://github.com/SAP/ui5-webcomponents/issues/4037

[2021-10-04 11:20] #2329 closed

[2021-10-04 11:22] vladitasev commented on #1695
This is not an issue since: #1832

[2021-10-04 11:25] vladitasev commented on #1695
The `_id` attribute has proven to be useful in practice. The performance considerations are no longer relevant since it's now on-demand and components that don't need it, don't have it.

Therefore, removing it now would be pointless.

[2021-10-04 11:25] #1695 closed

[2021-10-04 12:24] #4040 closed

[2021-10-04 12:24] #4046 closed

[2021-10-04 13:32] plamenivanov91 commented on #4059
Hello Colleagues,

I tested it and the issue is currently reproducible on the latest rc.
The issue is not reproducible on the default theme.

Regards,
Plamen

[2021-10-04 13:53] plamenivanov91 commented on #4049
Hello @SAP/ui5-webcomponents-topic-rl,

The issue is reproducible with the latest rc with the provided snippet.

Kind Regards,
Plamen

[2021-10-04 14:47] #4042 closed

[2021-10-04 14:49] MapTo0 opened #4065 "Block layer does not get removed after closing a dialog"
### **Bug Description**
Body scroll gets prevented due to block layer stacking.

### **Expected Behavior**
Block layer gets removed after calling close of the `ui5-dialog`

### **Steps to Reproduce**
1. Click on open (twice) button
2. Dialog gets open (show is called twice in the handler)
3. close the dialog using the button in the content
4. block layer is not removed (calling `show()` a few time

[2021-10-04 14:58] niyap commented on #4049
Hello @SAP/ui5-webcomponents-topic-p,

The root cause of the reported issue is in the ui5-list component. On keydown, when the key is SPACE:
**_onkeydown(event) {
		if (isSpace(event)) {
			event.preventDefault(); // prevent scroll
		}**
and that causes the issue.
We have had similar issue in the ui5-table. Here is a reference where you can check the solution used:
https://github.com/SAP/ui5-webco

[2021-10-04 21:12] allen138 commented on #4026
Hi @niyap,

Yes the issue seems to be resolved on the ui5 playground. Is it possible to downport those changes to 0.31.x? that is the version SF uses. I’ll also reach out to Han via our internal slack channel.

thanks,
Allen

[2021-10-05 08:44] plamenivanov91 commented on #4014
Hello @veith ,

The problem is that in your implementation, the Dialog is a child of the Page and therefore the Dialog's z-index is no longer relevant.

I recommend implementing the Dialog outside of the Page like so:
https://codesandbox.io/s/ui5-dialog-error-forked-rnlkd

I don't see any reason that the Dialog should be a child of the Page, I think it's okay if it's on the level of the Page.

Is

[2021-10-05 09:19] veith commented on #4014
@plamenivanov91 I have build an isolated example to show the cause.
We have a lot of nested components from different teams, which decide themself, if they need to show a dialog. The component themself can not know if they are inside of a component which have a z-index (like Ui5Page) set.

FYI Meanwhile we have a simple solution which consists of 2 components. One for the "dialog" content with the

[2021-10-05 09:23] veith commented on #4014
Maybe a hint or note  in the documentation of the `Dialog` component would be nice.

[2021-10-05 09:26] #4014 closed

[2021-10-05 11:20] veith commented on #4014
@plamenivanov91 It is mentioned in the documentation that using dialog in components with z-index do not work. But as a note on the *ES6 Module Import*.

[2021-10-05 11:32] SriramParamasivam commented on #3947
This issue still happening in MultiSelect Mode. Please have a look at this Code sandbox, https://codesandbox.io/s/eager-wu-7wr8r?file=/src/App.js

Thanks,
Sriram Paramasivam

[2021-10-05 11:50] #3730 closed

[2021-10-05 14:35] #3922 closed

[2021-10-05 14:41] ilhan007 commented on #3707
Hi @nnaydenow they are using older version - RC.15.

[2021-10-05 14:43] ilhan007 commented on #3707
Hello @kolew96 could you retest using an updated version of the reproducible sample https://codesandbox.io/s/magical-smoke-uqndt

The sample now loads the very latest development.

[2021-10-05 16:18] codefactor opened #4077 "Shellbar Menu items do not support right click + open new tab"
### **Feature Request Description**
SuccessFactors has started to use the `<ui5-shellbar>` and the menu items (a.k.a. module picker) used to support Right Click + Open in new tab. The way it did this was by rendering the line item as an anchor link with an `href`. Can this be support be added to the web component?

### **Proposed Solution**
The `<ui5-li>` that we put into `slot="menuItems"` might

[2021-10-05 17:00] lormanlau commented on #4001
Hi @Todor-ads this problem still persists, using Insert + F6 (list all headings) can also take you out of the dialog.

[2021-10-06 10:02] #4043 closed

[2021-10-06 10:03] #4041 closed

[2021-10-06 10:04] ilhan007 opened #4080 "Feature Request[ListItem]: Implement new sap_horizon theme"
### **Feature Request Description**
We would like to implement the sap_horizon theme for the Slider component as specified [here](https://www.figma.com/file/kw0IUpM30wlRqvH6q87bhI/Fiori-Next-Alpha?node-id=656%3A1009).

### **Priority**
- [ ] Low
- [ ] Medium
- [ ] High
- [x] Very High

[2021-10-06 11:52] kskondov commented on #4033
Hello @2bno1 I was not able to reproduce this issue from the sample provided, the label is not truncated on my side when tested on Safari. Can you confirm that this issue is still reproducible?

[2021-10-06 12:57] ilhan007 commented on #3699
We have recently merged a [fix](https://github.com/SAP/ui5-webcomponents/pull/4034).
We will close the issue once the fix is released.

[2021-10-07 06:06] ilhan007 commented on #3794
Hello @rchrdchn with 0.31.20 we introduced the following change in the Timeline component
https://github.com/SAP/ui5-webcomponents/pull/4053/files to fix the a11y issues.

Actually, our experts suggested removing the "listbox" role to fix the issues, reported by axe core.
- **role="listbox"** removed from **<ul class="ui5-timeline-list"**
- **role="option"** removed from **<div class="ui5-tli-bubb

[2021-10-07 09:21] #4039 closed

[2021-10-07 12:19] ndeshev commented on #3847
Hello team,

It seems like the positioning of the ValueState Message is calculated by the Popover component, we are only setting its placement-type and horizontal-аlign properties.

It has issues with the positioning on mobile devices, both on opening and scrolling.

Kind Regards,

Nikolay

[2021-10-07 12:19] ilhan007 opened #4089 "[Input] Suggestions dropdown's width is incorrect."
### **Bug Description**
Suggestions dropdown's width is incorrect.

### **Expected Behavior**
Suggestions dropdown's width should be equal to the input text field.

### **Steps to Reproduce**
1. Go to https://sap.github.io/ui5-webcomponents/master/playground/main/pages/Input/
or
http://localhost:8080/test-resources/pages/CoreControls.html?sap-ui-theme=sap_fiori_3

2. Type "a" in the 1st input
3. O

[2021-10-07 12:21] ilhan007 commented on #4089
Hello @SAP/ui5-webcomponents-topic-rl could you look at this issue with the Input Suggestions

[2021-10-07 17:52] PriyaPowar opened #4094 "Table : MultiSelect checkbox is not shown when table mode property is set to MultiSelect"
Hi All,

We have implemented an ui5/webcomponents-react Table with MultiSelect Mode in our project. It worked fine with certain libraries added in the package.json. However, on adding new libraries, the multiselect checkbox is not seen though the wrapper column added for multiselect check box is shown.

Issue Usecase:
As seen in below Image, when multiselect mode for table is set, the multiselect

[2021-10-07 20:12] JarrettChan opened #4093 "ui5-dialog header background color"
### **Bug Description**
ui5-dialog header should use `--sapPageHeader_Background` as per [Dialog (Fiori 3)](https://wiki.wdf.sap.corp/wiki/pages/viewpage.action?pageId=2033847432) referencing header spec in [Bar (Fiori 3)](https://wiki.wdf.sap.corp/wiki/pages/viewpage.action?pageId=2051281967#:~:text=Back%20button%20and%20title)

### **Steps to Reproduce**
1. https://sap.github.io/ui5-webcomponent

[2021-10-08 05:09] ilhan007 commented on #3794
FYI @unazko @ghristanov could you take a look?

Hello @rchrdchn

Basically, your issue has been closed as duplicate of https://github.com/SAP/ui5-webcomponents/issues/3459
Issue https://github.com/SAP/ui5-webcomponents/issues/3459 has been discussed internally and resolved with this change: https://github.com/SAP/ui5-webcomponents/pull/4053

After that , the change has been downported to 0.31.20.

[2021-10-08 06:58] #3946 closed

[2021-10-08 08:46] nnaydenow commented on #4059
Hi @JarrettChan,

The ShellBar component was designed after Belize theme and released with Fiori 3 theme and it is not supposed to be used and supported in this scenario.

Regards,
Nayden

[2021-10-08 08:46] #4059 closed

[2021-10-08 11:23] ilhan007 opened #4096 "[MultiComboBox] value state popover is not correct"
### **Bug Description**
The MultiCombobox value state popover when value-state="Information" does not seem to be correct ("Warning" and "Error" work fine).  There is a popover, but something a bit strange, not the regular "Informative entry" value state popover.

### **Expected Behavior**
I expect to see the regular "Informative entry" value state popover.

### **Steps to Reproduce**
1. Go to http

[2021-10-08 11:42] ilhan007 opened #4097 "[Avatar]: default background is visible when the displayed image is in "Contain" fit type"
### **Bug Description**
The default background of the Avatar  is visible when the displayed image is in "Contain" fit type.

### **Expected Behavior**
Previously it was transparent and  it seems it is transparent in the sap.m.Avatar.
https://openui5nightly.hana.ondemand.com/entity/sap.m.Avatar/sample/sap.m.sample.Avatar

### **Steps to Reproduce**
1. Go to https://sap.github.io/ui5-webcomponents/m

[2021-10-11 07:54] #3748 closed, assigned to georgimkv

[2021-10-11 08:46] ilhan007 commented on #4004
Hello @sfsf-xweb-sh it has been 7 days since the patch release, we are closing the issue now.
If you still face issues, let us know.

[2021-10-11 08:46] #4004 closed

[2021-10-11 09:54] ilhan007 opened #4102 "[View Settings Dialog]: incorrect header layout in mobile"
### **Bug Description**
The header layout (and header title size) seems wrong in mobile.

### **Expected Behavior**
I expect the header title and the "Reset" button aligned properly.

### **Steps to Reproduce**
1. Go to https://sap.github.io/ui5-webcomponents/master/playground/components/ViewSettingsDialog/
2. Turn on Chrome Mobile Emulator
3. Observe the header layout
<img width="299" alt="Screen

[2021-10-12 10:00] MarcusNotheis opened #4108 "ui5-busy-indicator crashes in ui5-dialog during initial render"
### **Bug Description**
When rendering an `ui5-dialog` for the first time and immediately opening it with an active `ui5-busy-indicator` inside, the site crashes with a JS runtime error:
[code]

### **Expected Behavior**
Busy Indicator should be active and no error should be thrown

### **Steps to Reproduce**
1. Open https://codesandbox.io/s/table-dialog-busy-ntti7?file=/src/App.js
2. Click "Show

[2021-10-12 15:28] tonyh1982 opened #4110 "[View Settings Dialog]: confirming dialog only provides UI-visible strings of selected item"
### **Bug Description**
This is rather an improvement request. Currently, when confirming the View Settings Dialog, you only get the UI-visible string of the selected element, which not always equals the string that needs to be send to the service. Furthermore, the string is not stable as it could be translated whereas the string in the service must not be translated. Of course I could dig in the

[2021-10-12 15:31] #4089 closed, assigned to ndeshev

[2021-10-12 15:32] #4093 closed

[2021-10-13 02:05] sfsf-xweb-sh commented on #3874
hi, team

is there any updates for this issue?

[2021-10-13 05:06] Shtilianova commented on #4108
Hello @SAP/ui5-webcomponents-topic-rd,
This is a reproducible issue with dialog with busy indicator.
Kind regards, Diana

[2021-10-14 11:37] #4044 closed

[2021-10-16 12:07] ilhan007 commented on #3987
The feature is not validated by VD and UX and won't be implemented.

[2021-10-16 12:07] #3987 closed

[2021-10-18 08:36] Kalita-Roman opened #4124 "DatePicker. Disable partiluclar dates"
**Is your feature request related to a problem? Please describe.**

I would like to use [DatePicker](https://sap.github.io/ui5-webcomponents-react/?path=/docs/inputs-datepicker--default-story) componten. But I can't find a way how to disable particular dates for selecting, like that. E.g. I would lika to set `minDate="2021-10-12"`, `maxDate="2021-10-28"` and set dates `2021-10-22`, `2021-10-23`, `

[2021-10-18 10:25] nnaydenow commented on #4124
Hi @ilhan007,

I rechecked the specifications and this case doesn't exists. The issue seems to be a feature request.

Regards,
Nayden

[2021-10-19 06:55] tsanislavgatev commented on #2647
As DurationPicker is no longer a public component, and we will re-create the specification and align our limits(max value) and different looks and behaviours, we're closing this issue until specification is present.

[2021-10-19 09:13] i323808 opened #4127 "[SF] [Toast] [A11y] Toast message is not announced by JAWS 2020"
### **Bug Description**
Toast message is not announced by JAWS 2020.

### **Expected Behavior**
Toast message should be announced by JAWS 2020

### **Steps to Reproduce**
Open JAWS 2020
Open https://sap.github.io/ui5-webcomponents-react/?path=/docs/modals-popovers-toast--default-story
Click 'Show Toast' button
Verify whether the toast message is announced by JAWS 2020

### **Context**
- UI5 Web Co

[2021-10-19 12:02] #3680 closed

[2021-10-19 23:38] JarrettChan opened #4130 "ui5-shellbar, ui5-tabcontainer: add more stable selectors"
### **Feature Request Description**
We would like stable selectors on any element as it makes sense to them put on.

### **Proposed Solution**
Add data-ui5-stable to ui5-shellbar elements:
1. `.ui5-shellbar-menu-button` Navigation/Mega Menu Button
2. `.ui5-shellbar-search-button` Search Button
3. searchField mobile view "Cancel" button
4. Shellbar items in the overflow popover

Add data-ui5-stable

[2021-10-20 05:30] ilhan007 opened #4131 "ui5-dialog: throws console warnings"
### **Bug Description**
The detachResizeHandler method is called onBeforeRendering, when the DOM is not rendered and the handler can't be removed - warnings are thrown. Perhaps you can call the method right before attachResizeHandler in onAfterRendering.

### **Steps to Reproduce**
1. Go to https://sap.github.io/ui5-webcomponents/master/playground/main/pages/Dialog/
2. Open the console.
3. Observe

[2021-10-20 05:31] ilhan007 commented on #4131
Hello @SAP/ui5-webcomponents-topic-rd could you take a look of this issue, it is reported by a real application, using the Dialog.

[2021-10-20 12:07] gmkv commented on #2540
To achieve the latest Fiori 3 UX we have split this task into three BLI which will be done in the following order:
 1. Align and adjust paddings and focuses.
 2. Implement sap.m.TabsOverflowMode-like feature.
 3. Implement nesting of tabs.

[2021-10-20 12:36] Lukas742 opened #4136 "DateTimePicker: selecting a date in Firefox crashes the component"
### **Bug Description**
When using the Firefox web browser, selecting a date with a `DateTimePicker` crashes the component.

### **Expected Behavior**
DateTimePicker should work in all modern browsers.

### **Steps to Reproduce**
1. Use Firefox as browser
2. Go to [codeSandbox](https://codesandbox.io/s/ui5-webcomponents-forked-6z99d?file=/src/index.js) or [playground](https://sap.github.io/ui5-web

[2021-10-20 22:25] rchrdchn opened #4142 "TextArea: max length text is cut short when using rows=1, required field has no effect"
**Describe the bug**
A clear and concise description of what the bug is.

**Isolated Example**
https://sap.github.io/ui5-webcomponents-react/?path=/docs/inputs-textarea--default-story

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `ui5-webcomponents-react` [TextArea playground](https://sap.github.io/ui5-webcomponents-react/?path=/docs/inputs-textarea--default-story)
2. Change the foll

[2021-10-21 12:35] nnaydenow commented on #4135
Hi @2bno1 ,

Could you share which version of NVDA screen reader you are using?

With the latest everything seems to be read out correctly.

Regards,
Nayden

[2021-10-21 16:36] lormanlau opened #4147 "ui5-switch: not able to add aria tags to inner component for screen readers"
### **Bug Description**
A clear and concise description of what the bug is.
Adding the aria-label, aria-describedby, aria-labelledby to the component will not add the tags to the inner shadow-root component for screen readers.

### **Expected Behavior**
A clear and concise description of what you expect to happen.
switch component when focus should announce with description

### **Steps to Reprodu

[2021-10-21 19:12] rchrdchn opened #4148 "[IllustratedMessage] - Add illustrations NoActivitiesAlt and SuccessHighFive"
### **Feature Request Description**
Add more illustrations to use on ui5-webcomponents, more specifically, NoActivitiesAlt and SuccessHighFive as these are being used more often in our projects.

### **Proposed Solution**
Add all the following illustrations
- https://github.wdf.sap.corp/xweb/common-react/blob/master/packages/main/src/fiori-moment/constants.js
- Success states: https://pages.github

[2021-10-22 10:16] jfseb opened #4151 "Build status image points to wrong travis."
### **Bug Description**
In the README.md, the "build passing" image is sourced from the "wrong" travis.
Clicking on the picture (and the follow up link) does not take the user to proper build results.

### **Expected Behavior**
A clear and concise description of what you expect to happen.
Clicking on the picture (and the follow up link) does take on to proper recent build results.

### **Steps to

[2021-10-22 10:35] #4148 closed, assigned to nobody

[2021-10-22 14:27] #4131 closed, assigned to kskondov

[2021-10-23 01:14] sap-ospo-bot opened #4157 "[rl-reuse_tool-4] Violation against OSS Rules of Play"
A violation against the OSS Rules of Play has been detected.

Rule ID: rl-reuse_tool-4
Explanation: Is it compliant with REUSE rules? **No**

Find more information at: https://sap.github.io/fosstars-rating-core/oss_rules_of_play_rating.html

[2021-10-25 09:31] #4136 closed, assigned to unazko

[2021-10-26 09:33] i323808 opened #4176 "[SF][0.31.21][Card][BUG]: Ensure landmarks of card content are unique"
### **Bug Description**
If there are multiple card components on the page, the Axe A11y tool report the issue below:
Ensure landmarks are unique.

section[role="group"][aria-label="Card\ Content"]

Actually this issue was reported with https://github.com/SAP/ui5-webcomponents/issues/3730. But after verification, this issue remains after adding "accessibleName" property.

### **Expected Behavior**

[2021-10-26 13:32] ilhan007 opened #4185 "List: loadMore event is unstable"
### **Bug Description**
One of the List's test started failing, currently skipped with this change https://github.com/SAP/ui5-webcomponents/pull/4184

[2021-10-26 14:44] GerganaKremenska opened #4187 "ui5-carousel arrow focus borken"
### **Bug Description**
Focus of the arrow is rounded in fiori 3.

### **Expected Behavior**
The focus should be squere around the arrow

### **Steps to Reproduce**
1. Go to https://sap.github.io/ui5-webcomponents/playground/components/Carousel/

### **Context**
- Browser: Chrome
- Affected component: ui5-carousel

### **Priority**
- [x] Low
- [] Medium
- [ ] High
- [ ] Very High

[2021-10-27 06:26] #4176 closed, assigned to ilhan007

[2021-10-27 08:13] AndrianStoikov opened #4192 "Dialog: DOM memory leak"
### **Bug Description**
DOM elements that are part of a Dialog are not garbage collected.

### **Expected Behavior**
Using components in a dialog should not cause memory leaks

### **Steps to Reproduce**
1. Go to the sandbox
2. Open the sample in a new window otherwise the Performance Monitor does not work properly
3. Inspect the number of dom nodes using the Performance Monitor in Chrome
4. Click

[2021-10-27 09:01] piterPro opened #4194 "Table: MultiSelect -> None mode change does not deselect items"
**Describe the bug**
When using Table in 'MultiSelect' mode, after selecting items and changing to mode 'None', the items are still visually selected.

**Isolated Example**
https://codesandbox.io/s/cranky-platform-gq4kz

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sandbox
2. Click on checkbox to select all items in the table. Items become selected, visually indicated by color change

[2021-10-27 12:51] kskondov opened #4200 "ui5-card: issues found from mobile exploratory testing iOS"
### **Bug Description**

1)  The card with table sample is cut off on the right
2) In RTL header and subheader doesn't seem to match the direction and padding is not correct

### **Steps to Reproduce**
1. On iOS device go to https://sap.github.io/ui5-webcomponents/master/playground/components/Card/

### **Context**
- UI5 Web Components version: master

### **Log Output / Stack Trace / Screenshots*

[2021-10-27 13:00] kskondov opened #4201 "ui5-carousel: issue found from mobile exploratory testing iOS"
### **Bug Description**

1)	Carousel with arrow placement and cyclic navigation not fully visible

### **Steps to Reproduce**
1. On iOS device go to https://sap.github.io/ui5-webcomponents/master/playground/components/Carousel/

### **Context**
- UI5 Web Components version: master

### **Log Output / Stack Trace / Screenshots**
![image](https://user-images.githubusercontent.com/6640019/139070476-d

[2021-10-27 13:00] #4192 closed, assigned to nobody

[2021-10-27 13:03] #4194 closed, assigned to nobody

[2021-10-27 13:08] kskondov opened #4202 "ui5-li-notification-group: issues found from mobile exploratory testing iOS"
### **Bug Description**
1) Close button functionality not working when in Shell Bar
2) Icon too close to title in RTL before expanding
### **Steps to Reproduce**
1. On iOS device go to https://sap.github.io/ui5-webcomponents/master/playground/components/NotificationListGroupItem/

### **Context**
- UI5 Web Components version: master

### **Log Output / Stack Trace / Screenshots**
1.
![image](https

[2021-10-27 13:12] kskondov opened #4203 "ui5-side-navigation: issue found from mobile exploratory testing"
### **Bug Description**

1)	Icons padding in RTL is not correct

### **Steps to Reproduce**
1. On iOS device go to https://sap.github.io/ui5-webcomponents/master/playground/components/SideNavigation/

### **Context**
- UI5 Web Components version: master

### **Log Output / Stack Trace / Screenshots**
![image](https://user-images.githubusercontent.com/6640019/139072492-2ffdb1f6-308a-4052-94b2-ea8d5

[2021-10-27 13:15] kskondov opened #4204 "ui5-tabcontainer: issue found from mobile exploratory testing iOS"
### **Bug Description**

1)	Some items are cut off and navigation is not possible via arrows in RTL

### **Steps to Reproduce**
1. On iOS device go to https://sap.github.io/ui5-webcomponents/master/playground/components/TabContainer/

### **Context**
- UI5 Web Components version: master

### **Log Output / Stack Trace / Screenshots**
![image](https://user-images.githubusercontent.com/6640019/13907

[2021-10-27 13:18] kskondov opened #4205 "ui5-upload-collection: issue found during mobile exploratory testing iOS"
### **Bug Description**

1)	Add new files and press to start uploading pending files: cut off in both directions and "start" and "+" buttons are not visible

### **Steps to Reproduce**
1. On iOS device go to https://sap.github.io/ui5-webcomponents/master/playground/components/UploadCollection/

### **Context**
- UI5 Web Components version: master

### **Log Output / Stack Trace / Screenshots**
![i

[2021-10-27 13:26] kskondov opened #4206 "ui5-popover: issue found during exploratory mobile testing iOS"
### **Bug Description**

1)  Email input is cut off on the right and a scroll appears
2) Focus not visible on the left

### **Steps to Reproduce**
1. On iOS device go to https://sap.github.io/ui5-webcomponents/master/playground/components/Popover/
2. On iOS device go to https://sap.github.io/ui5-webcomponents/master/playground/main/pages/Popover/ and open modal popover

### **Context**
- UI5 Web C

[2021-10-27 13:43] dimovpetar opened #4208 "ui5-popover doesn't close on scroll, when placementType is Right"
### **Bug Description**
When the page is scrolled so that the opener of the popover is hidden, the popover is still open.

### **Expected Behavior**
The popover is closed.

### **Steps to Reproduce**
1. Go to https://sap.github.io/ui5-webcomponents/master/playground/main/pages/Popover/
2. Press on the "Opens modal popover with no block layer!" button
3. The popover should have opened to the right

[2021-10-27 15:55] d-schroeder opened #4209 "Add min and max for Input with type number"
Hi all,

Currently there seems to be no way to limit the value range of number type inputs. Having this would be a great help.

Using inclusive min and max parameters on a number-type input should limit the acceptable value range of the input.

### **Priority**
- [ ] Low
- [ ] Medium
- [x] High
- [ ] Very High

[2021-10-28 05:08] #4127 closed, assigned to nnaydenow

[2021-10-28 07:46] #4151 closed, assigned to ilhan007

[2021-10-28 09:38] Joycelin02 opened #4213 "[SF][UI5-FlexibleColumnLayout][BUG][Medium] Visual issue - need to follow the Fiori guidelines"
### **Bug Description**
Visual issue - need to follow the Fiori guidelines

### **Expected Behavior**
Please follow [Fiori Specs](https://wiki.wdf.sap.corp/wiki/pages/viewpage.action?pageId=2043272416) for FlexibleColumnLayout. The current react component for padding, header background color and font size are not correct.

### **Isolated Example**
Fiori specs: https://wiki.wdf.sap.corp/wiki/pages/

[2021-10-28 09:45] nnaydenow opened #4214 "ui5-multi-combobox: more text is wrongly placed"
https://sap.github.io/ui5-webcomponents/master/playground/main/pages/MultiComboBox/

More text is wrongly placed in current master version.

![image](https://user-images.githubusercontent.com/31909318/139231389-a2aca827-2736-44d8-8eb1-b68db1973e10.png)

[2021-10-28 15:48] imvetri opened #4215 "Build a component builder - to build components faster"
### **Feature Request Description**
Is your feature request related to a problem? Yes. Building components is a repetitive work.

### **Proposed Solution**
To build a web based interface that can help to build components from scratch by composing atomic elements. Web is made of layout, interactions, visuals, data. These form the fundamentals and build visual tools.

### **Proposed Alternatives**
N

[2021-11-01 07:19] Joycelin02 commented on #4213
Hi @MapTo0,

Thanks for your feedback. However, there is nothing to do with the Toolbar component. What I mean is the [FlexibleColumnLayout](https://sap.github.io/ui5-webcomponents-react/iframe.html?id=layouts-floorplans-flexiblecolumnlayout--default-story&viewMode=docs#flexiblecolumnlayout-with-different-columns) component. You can click on one of the list items to open the next column.

As you c

[2021-11-01 07:29] ilhan007 commented on #4213
Hello @Joycelin02, the visual part of the FlexibleLayout web component is just the arrows between the columns, nothing else. The app developers set the content for each column, sometimes they can use other web components, or pure DIVs.

Perhaps, you can look at the [DynamicPage React component](https://sap.github.io/ui5-webcomponents-react/?path=/docs/layouts-floorplans-dynamicpage--default-story)

[2021-11-01 07:29] #4213 closed

[2021-11-01 08:04] #4094 closed

[2021-11-01 08:05] ilhan007 commented on #4027
Hello @SAP/ui5-webcomponents-topic-rl according to the @Todor-ads comment it seems the issue has been fixed in the master. However, the author is using 0.31 where the fix is not present. I checked the commit history for fixes that can be related to the issue and I found this one https://github.com/SAP/ui5-webcomponents/pull/3358 that seems to be the one.

Could you go trough the issue description

[2021-11-01 08:15] elenastoyanovaa commented on #4027
Hello @sleric1024,

Can you please add some more information: Is the picker opened, when you navigate, or it is closed? Did you re-test to confirm that the issue is not reproducible in the latest version? This will help us find the right PR, which fixed the issue :)

Kind Regards,
Elena

[2021-11-01 09:58] hristop commented on #3792
Hi,

I have tried this on Android Galaxy S9+, Samsung Galaxy Tab S7+ and Chrome emulator.
The issue is no longer reproducible so I will close this incident.

Best Regards,
Hristo

[2021-11-01 09:58] #3792 closed

[2021-11-01 11:00] sleric1024 commented on #4027
Hi @elenastoyanovaa ,
I made a video record on https://user-images.githubusercontent.com/5724592/135390055-4ec17669-38ad-42cd-853d-d33b8031e1c1.mp4, you may refer to this link for detail information. And  this issue is not fixed yet in version **0.31.20**. As for the latest version 0.31.22 (2021-10-26). I will check on my colleague's laptop (Only happened in **Windows with JAWS**) tomorrow. And I

[2021-11-01 13:33] elenastoyanovaa commented on #4027
Hello @sleric1024 ,

The issue is not related to the component, but it is due to the announcement queue present in screen readers. Screen readers use a queue to collect speech outputs that need to be announced and some actions may interrupt the current speech output and information could be missed. There is nothing different in regards to the element structure between the 2nd and 3rd item, the dif

[2021-11-01 13:33] #4027 closed

[2021-11-01 21:14] JarrettChan commented on #4009
Hi @ilhan007

That would work. Can you provide an estimate of when this could be implemented?

[2021-11-02 01:42] 2bno1 commented on #4135
@Lukas742 Sorry for late reply. From [code](https://github.com/SAP/ui5-webcomponents-react/pull/2208/files#diff-1d83b7b33e82b2b02cd431bc9109b9e8f07c25464d20b33b4753c33743e058b5R353),  the content of message box is appended to `accessibleName` only when it is raw text. If the content is wrapped in another element like `div`, it would not be added into `accessibleName` and would not be announced by

[2021-11-02 07:12] Lukas742 commented on #4135
Hi @2bno1

as mentioned in the docs, only text (`strings`) is supported by the `children` prop.

[2021-11-02 09:36] ChristyFei opened #4241 "[SF] [Check Box]: The performance is bad while rendering too many checkboxes on the same page."
**Describe the bug**
The performance is bad while rendering too many checkboxes on the same page.

**To Reproduce**

In our scenario, the customer can view and check multiple checkboxes on the same page. The number of checkboxes is 390 in my test case. It takes 270ms to render the checkbox. According to the performance screenshot, the updateShadowRoot method takes too much time.

![Screen Shot 202

[2021-11-02 09:54] alex-zhang commented on #2213
hi, thanks for your reply.

yes, the new version is fine for these feature for keyboard. I test it in chrome, firefox , and safari.

But it cause a new issue, only in safari.  the chrome, firefox is fine.

![p3gj8-1h6l4](https://user-images.githubusercontent.com/4457451/139824833-78466b13-6879-4b0c-95e5-e40ac81dde19.gif)

[2021-11-02 10:47] alex-zhang commented on #2951
hi, thanks for your reply.

yes, the new version is fine for these feature for keyboard. I test it in chrome, firefox , and safari.

But it cause a new issue, only in safari.  the chrome, firefox is fine.

The behavior is when the user click the `Add Learning` button then the Panel Header will get the focus.
Expect behavior: when the user click the `Add Learning` button then the Panel Header shoul

[2021-11-02 11:19] ndeshev commented on #3966
Fixed with #3970

[2021-11-02 11:19] #3966 closed

[2021-11-02 11:56] niyap commented on #4096
Hello Colleagues,

The issue is fixed as part of the following pull request: #4222

[2021-11-02 11:56] #4096 closed

[2021-11-02 11:59] niyap commented on #3790
The issue is fixed with the following pull request: #3976

[2021-11-02 11:59] #3790 closed

[2021-11-02 12:00] niyap commented on #4029
The issue should be fixed with the following pull request: #3976

[2021-11-02 12:00] #4029 closed

[2021-11-02 22:54] codefactor opened #4245 "XSS Problem with getHighlightedText in InputSuggestions"
### **Bug Description**
There is a very serious XSS bug in the getHighlightedText functionality because the "sanitizeText" function is only replacing the first less than sign. It is not fully sanitizing the text.

https://github.com/SAP/ui5-webcomponents/blob/master/packages/main/src/features/InputSuggestions.js#L480

### **Expected Behavior**
Text for input and suggestion text are both considered

[2021-11-02 23:03] codefactor commented on #4245
Here is a little test script with at least what I am expecting:
[code]

[2021-11-02 23:29] codefactor commented on #4245
The `text` attribute of the `<ui5-suggestion-item>` should contractually be considered raw text, and NOT markup. In other words, if the user has entered a text that contains characters like `<` or `&` these should be interpreted literally, rather than as HTML entities.

To summarize, there are several issues with this code:
1. The sanitize function only replaces the first occurrence of `<` symbol

[2021-11-03 00:07] codefactor commented on #4245
Here is one implementation that I threw together:
[code]

[2021-11-03 01:18] codefactor commented on #4245
I don't know if I'm doing this right - but here is a proposal how you might fix it.

https://github.com/SAP/ui5-webcomponents/pull/4246

I did not add unit tests, though, since I wasn't sure how to do that.

[2021-11-03 06:44] Bilal3120 opened #4248 "Width of Input is not going below some fixed size"
### **Bug Description**
The width of the Input field is not going below 10rem.

### **Expected Behavior**
The Input should adapt the width set using style property

### **Steps to Reproduce**
1. Import Input from @ui5/webcomponents-react
2. Set width as 5rem
3. The width is not reflected on the UI.

### **Isolated Example**
The issue is reproduced here [CodeSandbox](https://codesandbox.io/s/loving

[2021-11-03 06:48] #3659 closed

[2021-11-03 07:25] tsanislavgatev opened #4249 "ui5-datetime-picker: The focus of the OK button is smaller."
Hello,

When the okay button is focused if in fiori, the focus is split in two parts. In horizon the focus is smaller
<img width="214" alt="Screenshot 2021-11-02 at 12 14 36" src="https://user-images.githubusercontent.com/11508737/140022347-62f66149-f62a-4713-9aab-e5952d977f57.png">
.

[2021-11-03 09:25] #4249 closed

[2021-11-03 09:43] dimovpetar commented on #4241
Hello @ChristyFei ,

Thank you for reporting this. It looks like the problem is caused by a Forced reflow caused by `getComputedStyle` call in `getEffectiveDir`. This problem is already reported in issue #3614. We would therefore close this issue and continue with this inquiry under the number of the existing message. Please follow the progress there.

Best regards,
Petar

[2021-11-03 09:43] #4241 closed

[2021-11-03 11:51] LidiyaGeorgieva commented on #4248
Hello @SAP/ui5-webcomponents-topic-rl,

There is a question regarding the width of the Input.
There is min-width (13.125rem), but I can't see any information in the documentation: https://sap.github.io/ui5-webcomponents/playground/components/Input/

Best Regards,
Lidiya

[2021-11-03 11:56] LidiyaGeorgieva commented on #4245
Hello @SAP/ui5-webcomponents-topic-rl,

Please have a look at this issue. It is reproducible.

Best Regards,
Lidiya

[2021-11-03 12:06] ilhan007 commented on #4245
There is already a fix under review #4246, I will add reviewers from team Rila

[2021-11-03 12:59] guedes4g opened #4252 "Timeline Item visual issue on compact density"
### **Bug Description**
Timeline visual bug on Timeline item :before pseudo element when using compact UI

![image](https://user-images.githubusercontent.com/29311988/140060640-307788e1-58c6-46f7-a934-d9feaae8e2fc.png)

---
![image](https://user-images.githubusercontent.com/29311988/140064200-fada0405-1021-4f0d-8302-77acb949bdcd.png)

### **Expected Behavior**
Line to not overlap the icon

### **S

[2021-11-03 13:06] gabrielkurtz commented on #4252
Hi! This is also happening when manually setting the margin sizes between Timeline Items

[2021-11-03 13:21] elenastoyanovaa commented on #3651
Hello team,

Please update the status wiki of the control, when the issue is fixed.

[2021-11-03 14:05] LidiyaGeorgieva commented on #4252
Hello @SAP/ui5-webcomponents-topic-b,

You can test this issue here: https://sap.github.io/ui5-webcomponents/playground/components/Timeline/?sap-ui-theme=sap_fiori_3&isrtl=false

Best Regards,
Lidiya

[2021-11-03 14:06] d-schroeder commented on #4209
Hello @MapTo0,

unfortunately the step input doesn't fit for our use case due to size limitations and logic discrepancies. Is the implementation of min and max restrictions for the number type inputs possible and realistic?

Kind Regards,
Daniel

[2021-11-03 14:24] d3xter666 commented on #4142
Hi @rchrdchn ,

Could you elaborate on that? What is your expectation for a working ``required`` attribute?

Cheers

[2021-11-03 14:33] dimovpetar commented on #4201
On Android there is almost the same problem, but the Carousel is above the code snippet:
![image](https://user-images.githubusercontent.com/32839090/140080351-7ba5487c-8496-4893-8073-e0a0730ead34.png)

[2021-11-03 14:36] dimovpetar opened #4253 "Resizable ui5-dialog: issue found from mobile exploratory testing on Android"
### **Bug Description**
Resize handler is shown on Android device, although resizing is not possible.

### **Steps to Reproduce**
1. Open https://sap.github.io/ui5-webcomponents/playground/components/Dialog/
2. Open the resizable dialog
3. Observe

### **Context**
- UI5 Web Components version: master
- OS/Platform: Android
- Browser: Chrome
- Affected component: ui5-dialog

### **Log Output / Stac

[2021-11-03 14:38] dimovpetar opened #4254 "Stretched ui5-dialog: issue found from mobile exploratory testing on Android"
### **Bug Description**
Corners of the dialog are rounded on Android devices.

### **Steps to Reproduce**
1. Open any stretched dialog
2. Observe the corners

### **Context**
- UI5 Web Components version: master
- OS/Platform: Android
- Browser: Chrome
- Affected component: ui5-dialog

### **Log Output / Stack Trace / Screenshots**
![image](https://user-images.githubusercontent.com/32839090/140081

[2021-11-03 14:48] dimovpetar opened #4255 "Arrow direction of ui5-notification-list-group-item: issue found from mobile exploratory testing on Android"
### **Bug Description**
The direction of the arrow is wrong in RTL mode. It points up.

### **Steps to Reproduce**
1. Open https://sap.github.io/ui5-webcomponents/playground/components/NotificationListGroupItem/?sap-ui-theme=sap_fiori_3&isrtl=true
2. Go to the sample NotificationListGroupItem In ShellBar
3. Open the notifications

### **Context**
- UI5 Web Components version: master
- OS/Platform:

[2021-11-03 14:51] dimovpetar opened #4256 "Misaligned buttons in ui5-notification-list-group-item: issue found from mobile exploratory testing on Android"
### **Bug Description**
In RTL the buttons of the items in a group are misaligned. See the screenshot.

### **Steps to Reproduce**
1. Open https://sap.github.io/ui5-webcomponents/playground/components/NotificationListGroupItem/?sap-ui-theme=sap_fiori_3&isrtl=true
2. Go th the sample "NotificationListGroupItem In ShellBar"
3. Open the notifications

### **Context**
- UI5 Web Components version: mas

[2021-11-03 14:54] dimovpetar opened #4257 "ui5-notification-list-item: issue found from mobile exploratory testing on Android"
### **Bug Description**
The background color of NotificationListItem changes when you tap it. It becomes blue for a brief moment. This doesn't happen on iOS, but happens on Android.

### **Steps to Reproduce**
1. Open https://sap.github.io/ui5-webcomponents/playground/components/NotificationListGroupItem/?sap-ui-theme=sap_fiori_3&isrtl=true
2. Go th the sample "NotificationListGroupItem In ShellBa

[2021-11-03 15:00] dimovpetar opened #4258 "Active state of ui5-upload-collection items: issue found during mobile exploratory testing Android"
### **Bug Description**
The background color of items in UploadCollection changes when you tap them. It becomes blue, but it shouldn't.

### **Steps to Reproduce**
1. Open https://sap.github.io/ui5-webcomponents/playground/components/UploadCollection/
2. Tap any item

### **Context**
- UI5 Web Components version: master
- OS/Platform: Android
- Browser: Chrome
- Affected component: ui5-upload-coll

[2021-11-03 15:05] dimovpetar opened #4259 "ui5-popover position: issue found during mobile exploratory testing Android"
### **Bug Description**
“Opens modal popover with no block layer” is truncated.

### **Steps to Reproduce**
1. Go to https://sap.github.io/ui5-webcomponents/master/playground/main/pages/Popover/
2. Open the “Opens modal popover with no block layer” sample

### **Context**
- UI5 Web Components version: ui5-popover
- OS/Platform: Android
- Browser: Chrome
- Affected component: ui5-popover

### **Log

[2021-11-03 18:27] allen138 opened #4260 "[ui5-datepicker] Calendar days are misaligned when hiding the week numbers."
### **Bug Description**
Hi team,

The ui5-datepicker supports hiding the week numbers via property 'hide-week-numbers'. When setting this property to 'true', the calendar does hide the week numbers, but the alignment of the days from their respective columns is misaligned.

### **Expected Behavior**
The days of the week should align correctly when the week numbers are either shown or hidden.

###

[2021-11-03 22:35] JarrettChan opened #4261 "ui5-tabcontainer show overflow popover does not work with namespaced ui5-button"
### **Bug Description**
If the ui5-button is namespaced with a suffix, clicking the ui5-button to show the overflow popover does not do anything.

### **Expected Behavior**
ui5-tabcontainer overflow should select ui5-button with a stable selector:
`const button = this.overflowButton[0] || this.getDomRef().querySelector(".ui-tc__overflowButton > ui5-button");`
please use the pure tag or some equiva

[2021-11-03 23:15] JarrettChan commented on #4261
Attempting to use `addCustomCSS` across multiple ui5wc cores does not work currently.
To fix from our side would need to either namespace the elements to be able to use `addCustomCSS` (blocked by this issue) or the other option I'm exploring is manually traversing and inserting a style tag.

[2021-11-04 08:09] LidiyaGeorgieva commented on #4260
Hello @SAP/ui5-webcomponents-topic-b,

The issue is reproducible, please have a look.

Best Regards,
Lidiya

[2021-11-04 08:36] #3965 closed

[2021-11-04 09:19] ChristyFei commented on #3614
How about the latest progress? Thank you.

[2021-11-04 09:48] tsanislavgatev commented on #4252
Hello,

The issue is fixed in the master branch and it's no longer reproducible.
The master branch can be checked here: https://sap.github.io/ui5-webcomponents/master/playground/components/Timeline/?sap-ui-theme=sap_fiori_3&isrtl=false

Best Regards,
Tsanislav

[2021-11-04 09:48] #4252 closed

[2021-11-04 13:02] LidiyaGeorgieva commented on #4135
Hello @Lukas742 ,

Yes, using accessibleName is the right approach.

@2bno1 , are there any open questions or the issue is clarified?

Best Regards,
Lidiya

[2021-11-04 14:25] tsanislavgatev opened #4266 "ui5-date-picker, time-picker: Align input controls with sap_horizon theme"
The date/time input controls should be aligned with the sap horizon theme.

- [ ] DateTimePicker
- [ ] DatePicker
- [ ] DateRangePicker
- [ ] TimePicker

[2021-11-04 17:13] #4266 closed

[2021-11-04 22:52] codefactor opened #4270 "Update `addCustomCSS` so that it uses a shared resource"
### **Feature Request Description**
We would like to be able to use `addCustomCSS` for the purpose of defining override styles or CSS variables for things like emergency fixes. For example, there is a feature in the button that we want to support theming the hover text color, which does not seem possible today, so we can use the addCustomCSS as a quick fix to that issue. Any time we use this, thou

[2021-11-05 09:13] #3652 closed

[2021-11-05 09:44] #4261 closed

[2021-11-05 12:45] tsanislavgatev commented on #4260
Hello,

The issue is not reproducible in latest versions.
Example: https://codesandbox.io/s/ui5-webcomponents-forked-obwrq

Can you please check if you are able to update the version?

Best Regards,
Tsanislav

[2021-11-05 13:07] ilhan007 commented on #4260
@tsanislavgatev  the author is not on the latest version, he is from SFSF and he is using 0.31.X

In this case we downport the fix in 0.31. Can you point me to the fix?

[2021-11-05 16:27] allen138 commented on #4260
Hi team,

I had one more related issue. The date-pickers/calendars support dual calendars now. When I do my testing with a dual calendar, the week days are not showing up. This might be expected, is that true? But as a result, there is an alignment issue with the dual calendars as well.

Dual calendar with Buddhist
![dual calendar with Buddhist](https://user-images.githubusercontent.com/38701667/1

[2021-11-06 15:53] codefactor commented on #4245
@MapTo0 ,
There is still one issue with the PR in terms of the unit test failing, and as reminder we need this to be patched next week as an emergency. If necessary you might want to purposely disable the unit test and maybe just start out on successfactors 0.31 branch and fix it on master later.

[2021-11-08 14:18] codefactor commented on #4270
@LidiyaGeorgieva ,
@vladitasev ,
Can you give us some idea if this can be included in the 1.0.0 release and down-ported to release-0.31?

We would like to make use of this feature that already exists, but due to the minor problem that it does not utilize a shared resource the existing functionality is broken in certain use cases when there are multiple "ui5-webcomponent cores" on the page (I don't

[2021-11-08 14:30] codefactor commented on #4270
Also, keep in mind that I've already done the work in the following PR:
https://github.com/SAP/ui5-webcomponents/pull/4269

Please help to get this reviewed/merged - I don't think it will take much effort from the team assuming the feature is generally agreed to.

[2021-11-08 14:40] #4245 closed

[2021-11-08 15:50] Lukas742 opened #4292 "FileUploader: component doesn't render in firefox"
### **Bug Description**
The FileUploader crashes when rendered in Firefox.
[code]

### **Expected Behavior**
Component should render in all modern browsers.

### **Steps to Reproduce**
1. Go to [playground](https://sap.github.io/ui5-webcomponents/playground/components/FileUploader/) in Firefox
2. See that the FileUploader has crashed

### **Isolated Example**
https://sap.github.io/ui5-webcomponent

[2021-11-08 16:20] #4157 closed

[2021-11-09 06:16] ndeshev commented on #3836
Fixed with #3970

[2021-11-09 06:16] #3836 closed

[2021-11-09 10:23] #4292 closed

[2021-11-10 05:01] #3816 closed

[2021-11-10 09:38] MisherLiu opened #4305 "How to get selected binding when Table with selected rows"
### **Feature Request Description**
Sometimes we have requirement to handle selected rows in Table, so we need to use the binding data of selected rows.
However I can only get selected rows( which are ui5-table-row), and there is no data binding.
So in such case what's the best way to get data binding?
Could we have such feature for Table?

Thanks
Misher

[2021-11-10 10:23] #3519 closed

[2021-11-10 10:32] ilhan007 commented on #3042
 Not Relevant anymore, API to use and plug custom i18n bundles has been provided with another change.

[2021-11-10 10:32] #3042 closed

[2021-11-10 10:44] ilhan007 commented on #4270
I think this is resolved by #4269 right, and it's pending release

[2021-11-10 11:25] nnaydenow opened #4307 "[IE11] ui5-checbkox: tickmark placement"
![image](https://user-images.githubusercontent.com/31909318/141104726-05f6258d-7d9a-41ab-8a67-9a6f6b2751c3.png)

[2021-11-10 15:53] ilhan007 commented on #2951
Pending Release - Fri 12 Nov

[2021-11-11 09:15] teodor-filipov opened #4315 "Separation of values and display text of multiple choice input components"
### **Feature Request Description**
In the inputs of this type: `<ui5-cb-item text="Item 1"></ui5-cb-item>` where the text attribute is used for both visualisation and as an object passed to the change event. It would be nice to have a separate **value** attribute where we can pass a value to be passed to the change event when an item visualised using the **text** attribute is selected. This also

[2021-11-11 09:42] JeeOpp opened #4316 "Segmented-button low performance on rendering in table rows"
### **Bug Description**
Segmented-button low performance on  rendering in table rows (10 seconds) for 50 table rows.

### **Expected Behavior**
Segmented-button performance on rendering in table rows increased at least 1-2 second for 50 table rows.

### **Steps to Reproduce and Example**
I am using table and in the same moment inside each row segmented-button exists.

When count of rows less than

[2021-11-11 09:54] Lukas742 opened #4317 "inputs: `valueStateMessage` is displayed in `readonly` mode."
### **Bug Description**
When using an input component in `readonly` mode and applying a `valueState` and a `valueStateMessage`, the message is displayed when focusing.

### **Expected Behavior**
The `valueStateMessage` should not be displayed when inputs are set as `readonly`.

### **Steps to Reproduce**
1. Go to [codeSandbox](https://codesandbox.io/s/ui5-webcomponents-forked-q4ero?file=/index.htm

[2021-11-11 11:13] unazko commented on #4317
Hello @SAP/ui5-webcomponents-topic-rl,

The issue is reproducible with the steps and snipped provided by @Lukas74.
Could you please take over.

Best Regards,
Boyan

[2021-11-11 15:03] unazko commented on #4316
Hello @JeeOpp,

With the latest version of UI5 Web Components version the performance is better:
https://codesandbox.io/s/dank-wind-erfhk?file=/index.html
compared to the described slow rendering on rc.14:
https://codesandbox.io/s/gifted-rain-0gff3?file=/index.html

I would recommend to use the latest version of UI5 Web Components version as transporting fixes to older versions is not part of the

[2021-11-12 02:05] chenshuichao opened #4322 "button group"
![image](https://user-images.githubusercontent.com/77186544/141396341-ea9cbd65-eea6-4d4c-9f5c-d2a91be7bb3e.png)

https://medium.com/eightshapes-llc/and-you-thought-buttons-were-easy-26eb5b5c1871

[2021-11-12 06:58] stbodurov commented on #3861
This issue has been fixed with #4222 and is no longer reproducible.

[2021-11-12 06:58] #3861 closed

[2021-11-12 08:27] unazko commented on #4322
Hello @chenshuichao,

Could you please explain in more detail, did you find an issue or this is a feature request?

Best Regards,
Boyan

[2021-11-12 09:11] JeeOpp commented on #4316
Thank you for your reply, @unazko

I'll try to update sapUI components version.

Best Regards,
Andrei

[2021-11-12 13:21] niyap commented on #4026
Hello Colleagues,

The issue was downported in 0.31, so I am closing the issue.

Kind Regards,
Niya

[2021-11-12 13:21] #4026 closed

[2021-11-12 13:22] #4317 closed

[2021-11-12 14:00] petyabegovska opened #4331 "ui5-calendar: Focus and selected state doesn't work by design on Safari and iOS in SAP Horizon theme"
### **Bug Description**
ui5-calendar: Focus and selected state don't work by design on Safari and iOS in SAP Horizon theme.

### **Expected Behavior**
Rounded corner adjustments needed according to the VD specification.

### **Steps to Reproduce**
1. Go to https://sap.github.io/ui5-webcomponents/playground/components/Calendar/?sap-ui-theme=sap_horizon&isrtl=false n Safari browser
2. Open the basic

[2021-11-12 14:16] petyabegovska commented on #4331
The same for ui5-button.

[2021-11-12 14:52] lucasheim commented on #2069
Hi people, we had the same problem, this happens whenever the button you use to open the dialog is inside another component. By following these instructions of the documentation you should be able to fix this behavior: https://sap.github.io/ui5-webcomponents-react/?path=/docs/modals-popovers-dialog--default-story#using-dialogs-inside-other-components

[2021-11-12 23:02] ee92 opened #4334 "Pixelated icons in shellbar"
### **Bug Description**
The icons in the shellbar appear more pixelated than the ui5 version of the component, especially the round edges.

UI5
![Screen Shot 2021-11-12 at 2 52 13 PM](https://user-images.githubusercontent.com/24360164/141592633-200cd633-a31d-49dd-8da1-0da5a9448969.png)

Web Component
![Screen Shot 2021-11-12 at 2 52 04 PM](https://user-images.githubusercontent.com/24360164/1415925

[2021-11-14 11:59] chenshuichao commented on #4322
This is a feature request.

[2021-11-15 06:52] ilhan007 opened #4335 "Dev EXP: Improve project starting time"
### **Description**
This is an "epic" issue that aim to improve the development experience by speeding up the project starting time. The `yarn:start` command is slow, it takes too much time and we would like to change that.

### **Objective**
**Investigate the current build process and define points of improvements**

For example:
- Currently we have 3 separate rollup config for base, main and fio

[2021-11-15 07:00] #3863 closed

[2021-11-15 07:02] ilhan007 opened #4336 "Playground: rebuild the app to make it more lightweight"
### **Feature Request Description**
We would like to rebuild the playground app, so we can get rid of the ruby and Jekyll dependencies. Currently building the playground is very heavy, and often developers are experiencing various issues to run it locally, especially OS update.

### **Objective**
Investigate lightweight solutions (NodeJS based) to show the UI5 Web Components documentation

### **P

[2021-11-15 07:05] niyap commented on #3813
The issue is fixed as part of SAP Horizon theme implementation with the following change: #4222

[2021-11-15 07:05] #3813 closed

[2021-11-15 07:05] ilhan007 opened #4337 "Typescript: introduce TS definitions"
### **Feature Request Description**
**As a** typescript developer,
**I would like to** make us of TS definitions in the UI5 Web Components project,
**so I can** see easily see the available APIs, without constantly checking the API reference.

### **Priority**
- [ ] Low
- [x] Medium
- [ ] High
- [ ] Very High

[2021-11-15 09:11] #4214 closed

[2021-11-15 09:18] Lukas742 opened #4338 "Table: programatically changing row selection doesn't update "Select All" checkbox"
### **Bug Description**
When using the Table in `MultiSelect` mode, the "Select All" checkbox is not updated when programatically changing the `selected` state of table rows.

### **Expected Behavior**
The table should check/uncheck the "Select All" checkbox in the columns header, when all rows are selected or unselected.

### **Steps to Reproduce**
1. Go to [codeSandbox](https://codesandbox.io/s/

[2021-11-15 10:09] IlianaB commented on #4334
Hello @ui5-webcomponents-topic-p I am forwarding this issue to you, in order to check whether something could be done to make the svgs' edges more smooth-looking.

Regards,
Iliana

[2021-11-15 10:20] IlianaB commented on #4338
Hello @SAP/ui5-webcomponents-topic-rl I am forwarding this issue to you, because when using the Table in MultiSelect mode, the "Select All" checkbox is not updated in case the selected state of table rows is updated programmatically.

Regards,
Iliana

[2021-11-15 10:38] #3830 closed

[2021-11-15 15:03] MarcusNotheis commented on #3527
Hey colleagues,
do you already have an estimate when this feature request can be delivered?
Opening Dialogs in an imperative way is really painful (especially in the React world).

Thanks!

[2021-11-15 19:32] TimWeidner commented on #4337
I feel like this approach sounds like a solid starting point, since there are a lot os jsdoc defs aready: https://github.com/SAP/ui5-webcomponents/pull/3653

[2021-11-15 21:31] texttechne opened #4341 "NumberInput: Deleting Number with Comma via Backspace"
**Describe the bug**
Preconditions:
* `<Input type="Number" />`
* use comma, e.g. `12,50`

Use Case:
When the whole number is selected, then deleting the value via back space will preserve the part before the comma: "12,50" => "12"
Works with dot as separator, works with pure integers, but not with comma separated fractions.

**Isolated Example**
[Example](https://codesandbox.io/s/hardcore-mcclint

[2021-11-15 23:20] texttechne opened #4340 "NumberInput: Deleting Number Via Del => wrong value onChange"
**Describe the bug**
Prerequisites:
* `<input type="Number" value="123" />`

Use Case:
When the whole number is selected & deleted via the "DEL" key, then onChange will report the old value.
Deleting the number via Back Space works as expected: onChange will report an empty string as value.

**Isolated Example**
[Example](https://codesandbox.io/s/optimistic-framework-z55qm?file=/src/App.js)

**To

[2021-11-16 07:13] i323808 opened #4344 "[SF][0.131.20][UploadCollection][BUG] a11y issue: Instruction of actionable elements is supposed to be provided"
**Describe the bug**
Once the focus is on the attachment list item, the screen reader announces all the content from the list item. But, it is necessary for a screen reader user to have the instruction provided saying "Contains actionable elements, press tab to access them".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sap.github.io/ui5-webcomponents-react/?path=/docs/inputs

[2021-11-16 08:36] IlianaB commented on #4340
Hello @SAP/ui5-webcomponents-topic-rl  I am forwarding this issue to you, because when selecting and deleting the number via "DEL" key, the onChange event reports the old value, not an empty string, as opposed to deleting with Back Space.

Regards,
Iliana

[2021-11-16 13:03] IlianaB commented on #4341
Hello @SAP/ui5-webcomponents-topic-rl  I am forwarding this issue to you, because deleting number with comma separator via BackSpace does not delete the whole number, but only the fractional part, as opposed to deleting a number with dot separator.

Regards,
Iliana

[2021-11-16 13:29] ilhan007 commented on #4341
Hello @SAP/ui5-webcomponents-topic-rl

Some help with the investigation:

There is some interesting issues of the native inputs from type number upon deleting item.
-  Example1: type "123.4" and press BACKSPACE - the native input is firing event with empty value.
-  Example2: type "123.456", select/mark "456" and press BACKSPACE - the native input is firing event with empty value.
- Example3: type

[2021-11-16 14:08] codefactor commented on #4009
This can work for the short term, but wouldn't all users of Shellbar WC need to customize the tooltip for the Profile button?

Is there any problem accepting the tooltip as an optional attribute on the shellbar?

[2021-11-16 14:15] codefactor commented on #4009
On second thought, being able to override the button entirely might be beneficial if we ever needed to customize the button for other reasons. In know our customers have been complaining a lot about not showing any visual indicator when they are a proxy. I suspect we might want to add something to the button to show that.

So maybe we could use the online thing in the future for other reasons but

[2021-11-16 14:39] MarcusNotheis opened #4346 "Custom Themes via Theme Designer is unstable/broken"
### **Bug Description**
When using the Theme Designer `css_variables.css` **and** the `custom.css` file (we need that for some specific overrides), the UI5 Web Components will not inject any theme.

### **Expected Behavior**
My custom theme should load (like in 1.0.0-rc.15).

**Additional Info**
If you swap
[code]

to

[code]

the theme is loaded again, but this approach might invalidate some css

[2021-11-16 16:26] IlianaB commented on #4346
Hello @SAP/ui5-webcomponents-team I am forwarding this issue to you, because it seems with the new UI5 Web Components 1.0.1 version custom themes cannot be loaded, the same way like in 1.0.0-rc.15.

[2021-11-16 20:47] petyabegovska commented on #4322
Hello @chenshuichao,

Button with icon and icon only buttons are already available: [https://sap.github.io/ui5-webcomponents/playground/components/Button/](url)

Group button is available as Segmented button: [https://sap.github.io/ui5-webcomponents/playground/components/Button/](url)

For menu button we already have a feature request: [https://github.com/SAP/ui5-webcomponents/issues/1436](url)
Th

[2021-11-16 22:00] petyabegovska commented on #3170
The development of the new component is in progress.

[2021-11-17 03:02] codefactor opened #4347 "Popup adds `ui5-popup-scroll-blocker` which can interrupt the style"
### **Bug Description**
WorkZone is using SuccessFactors widget, which loads UI5 WC Dialog, which then makes the content of the page left aligned losing the "letter box" margin on left/right to center the content.

### **Expected Behavior**
Opening a Dialog should not interrupt the layout of the page.

### **Steps to Reproduce**
1. https://codesandbox.io/s/ui5-webcomponents-forked-ee7g8?file=/inde

[2021-11-17 03:21] codefactor commented on #4347
@ilhan007 can you take a look at this? The WorkZone UI is not under SF control. In this case the `width: auto!important` on the body is probably not required but it does not seem normal that adding UI5 WC Dialog would cause such a disruption. I will in parallel ask if this style can be removed because it doesn't seem like it adds anything to the UI; meanwhile, it would be good to investigate this

[2021-11-17 06:28] ilhan007 commented on #4270
Hello @codefactor The corresponding change has been released with 0.31.23

[2021-11-17 06:28] #4270 closed

[2021-11-17 06:50] 2bno1 opened #4348 "[SF] List - allow user to confirm before changing selected item"
### **Feature Request Description**
We have a requirement that after user clicks a different item in the list, before actually selecting the new item, user has a chance to confirm or cancel this action. For example, a confirm dialog pops up to ask user whether he want to change the selected item. If he clicks 'OK', then it changes the selected item. Otherwise, it still keep the previous item.

###

[2021-11-17 09:38] IlianaB commented on #4347
Hello @codefactor ,

I think you should better add width: 100% to the body: https://codesandbox.io/s/ui5-webcomponents-forked-t08qx
Anyway, tagging @ilhan007 to advice if a change in the Dialog is needed.

Regards,
Iliana

[2021-11-17 10:32] ilhan007 commented on #2588
There is a duplicate issue, closing this and keeping the other: https://github.com/SAP/ui5-webcomponents/issues/3777

[2021-11-17 10:32] #2588 closed

[2021-11-17 10:45] IlianaB commented on #4344
Hello @Lukas742 ,

In order to process the issues correctly, we would like to have the following information provided:
- Reference to the suspected violated accessibility requirement (e.g. Web Content Accessibility Guidelines, WCAG 2.0, BITV 2.0, EN 301 549)

Regards,
Iliana

[2021-11-17 10:46] ilhan007 commented on #3200
Tsani suggested to resolve this is backlog item, that's why it's in the planning section.

[2021-11-17 11:09] codefactor commented on #4347
@IlianaB ,

Yes, that might fix the issue; however, in the real scenario SuccessFactors code is running on a different stack as a "Widget" and therefore we do not control the CSS on the page. We need to ask the owner to make that change and it's not clear why they have set width to auto on the body.

The premise of having a Dialog web component is that it should be able to run on any page with any

[2021-11-17 11:51] ilhan007 opened #4349 "Cоmponents of Topic B: Fast navigation using F6 for UI5 WC library"
### **Feature Request Description**
Fast navigation using F6 for UI5 WC library

Issue origin: https://github.com/SAP/ui5-webcomponents/issues/4013

Fast navigation via F6 is supported by SAPUI5 controls and it is not there for the web components. Can we have this feature for content block switching via F6 or any alternative for fast navigation techniques for web components control, so for the use

[2021-11-17 11:53] ilhan007 opened #4350 "Cоmponents of Topic P: Fast navigation using F6 for UI5 WC library"
### **Feature Request Description**
Fast navigation using F6 for UI5 WC library

Issue origin: https://github.com/SAP/ui5-webcomponents/issues/4013

Fast navigation via F6 is supported by SAPUI5 controls and it is not there for the web components. Can we have this feature for content block switching via F6 or any alternative for fast navigation techniques for web components control, so for the use

[2021-11-17 11:54] ilhan007 opened #4351 "Cоmponents of Topic RD: Fast navigation using F6 for UI5 WC library"
### **Feature Request Description**
Fast navigation using F6 for UI5 WC library

Issue origin: https://github.com/SAP/ui5-webcomponents/issues/4013

Fast navigation via F6 is supported by SAPUI5 controls and it is not there for the web components. Can we have this feature for content block switching via F6 or any alternative for fast navigation techniques for web components control, so for the use

[2021-11-17 11:56] ilhan007 opened #4352 "Cоmponents of Topic RL: Fast navigation using F6 for UI5 WC library"
### **Feature Request Description**
Fast navigation using F6 for UI5 WC library

Issue origin: https://github.com/SAP/ui5-webcomponents/issues/4013

Fast navigation via F6 is supported by SAPUI5 controls and it is not there for the web components. Can we have this feature for content block switching via F6 or any alternative for fast navigation techniques for web components control, so for the use

[2021-11-17 11:57] dobrinyonkov commented on #3804
Hello, we discussed this on our accessibility sync and we will add the role region to the arrow button containers.

[2021-11-17 12:01] ilhan007 commented on #4013
Hello @saorabhkr the issue has been divided to 4 issues, linked above as the components are distributed in 4 areas/topics
you can follow the progress there:

https://github.com/SAP/ui5-webcomponents/issues/4349
https://github.com/SAP/ui5-webcomponents/issues/4350
https://github.com/SAP/ui5-webcomponents/issues/4351
https://github.com/SAP/ui5-webcomponents/issues/4352

[2021-11-17 12:01] #4013 closed

[2021-11-17 12:07] texttechne commented on #4209
Hi @MapTo0,

I would challenge the categorization into "feature request". This is a bug, and a quite huge one in my opinion, since we're not getting a basic HTML feature: See [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/number#max). It's like not providing the "maxLength" attribute for regular inputs...

Any plan to implement this? This has a really high prio

[2021-11-17 12:16] texttechne opened #4353 "Separate NumberInput Component"
### **Feature Request Description**
Several issues regarding the input type=number component have come up:
* #4209
* #4340
* #4341

Since numbers do play an important role in any SAP system, this component should work reliably.

However, right now there is even documentation lacking => there's no way to try out / play around with such a component in your documentation. It's completely subsumed und

[2021-11-17 12:17] #4187 closed

[2021-11-17 12:18] texttechne commented on #4353
@ilhan007 I think this is a suggestion tailored to your role, but I'm just guessing here...

[2021-11-17 12:25] ilhan007 commented on #3794
Hello @rchrdchn

these links show the latest stable version that has been released, you can't use them as reference:
https://sap.github.io/ui5-webcomponents/playground/components/Timeline/

Use the "master" version, notice the "master" in the url's path:
https://sap.github.io/ui5-webcomponents/master/playground/components/Timeline/

[2021-11-17 12:27] ilhan007 commented on #3459
No response, closing the issue.

[2021-11-17 12:27] #3459 closed

[2021-11-17 12:48] Lukas742 commented on #4344
Hi @IlianaB

I did not raise this issue, I just forwarded it ;)

@i323808 could you please provide the information required by @IlianaB.

[2021-11-17 12:51] ilhan007 commented on #1483
It is an ongoing task that will be handled case by case, when there is a certain need.

[2021-11-17 12:51] #1483 closed

[2021-11-17 13:03] nnaydenow commented on #3796
Internal reference: BGSOFUIPIRIN-5514

[2021-11-17 14:28] nnaydenow commented on #3618
Internal reference: BGSOFUIPIRIN-5516

[2021-11-17 14:34] nnaydenow commented on #2560
Internal reference: BGSOFUIPIRIN-5517

[2021-11-17 14:39] nnaydenow commented on #4348
Internal reference: BGSOFUIPIRIN-5518

[2021-11-17 14:44] #4307 closed

[2021-11-17 14:53] nnaydenow commented on #1041
Internal reference: BGSOFUIPIRIN-5342

[2021-11-17 15:13] fifoosid opened #4355 "Buttons in ui5-page are broken in IE11"
1. Open https://sap.github.io/ui5-webcomponents/master/playground/components/Page/ in IE11
2. Notice the broken buttons.

[2021-11-17 15:14] fifoosid commented on #4355
FYI @SAP/ui5-webcomponents-topic-b

[2021-11-18 05:17] ilhan007 opened #4358 "Badge: text is not vertically aligned"
### **Bug Description**
The text of the Badge is shifted upwards from the vertical center - see the screenshot. The finding is true for all the themes.

### **Expected Behavior**
By design the text should be vertically centered within the container.

### **Steps to Reproduce**
1. Go to https://sap.github.io/ui5-webcomponents/master/playground/components/Badge/
2. Observe the text vertical position

[2021-11-18 05:18] ilhan007 commented on #4358
FYI @SAP/ui5-webcomponents-topic-rd

[2021-11-18 06:23] ilhan007 commented on #4000
Hello  @SAP/ui5-webcomponents-topic-b, @petyabegovska this is one of the ACC issues  by SF
we need to complete by January. Raising the priority to High.

[2021-11-18 06:24] ilhan007 commented on #3804
@nnaydenow I guess you need to move the item to "Approved"

[2021-11-18 06:25] ilhan007 commented on #3651
Hello @SAP/ui5-webcomponents-topic-rl, @nikolay-kolarov  this is one of the ACC issues by SF
we need to complete by January. Raising the priority to High.

[2021-11-18 06:28] ilhan007 commented on #4001
Hello @lormanlau can you try with the latest version, notice the "master" in the path of the URL:

https://sap.github.io/ui5-webcomponents/master/playground/components/Dialog/

[2021-11-18 08:03] ilhan007 commented on #4260
Fix has been merged in the remote release-0.31 branch. Changing the status to Pending Release.

[2021-11-18 08:46] LidiyaGeorgieva commented on #4358
Hello @ilhan007 ,

Could you please check if you have zoom different than 100% set for your OS?
This could cause similar issue (at least for Windows).
I couldn't reproduce the issue on Windows or Mac.

Best Regards,
Lidiya

[2021-11-18 10:31] dobrinyonkov commented on #3804
Hi @GongRichard,

Would it be enough for you if we set a role region on the arrow buttons containers or would you prefer if we offer an API to be able to customise the roles?

Also, setting a landmark roles on those containers would also require them to have an unique labels. Would you prefer to be able to set custom labels? We will further discuss the default labels with our UX team but let us kn

[2021-11-18 12:29] TeodorTaushanov commented on #4208
This popover is "modal" and the block layer is hidden. That's why it doesn't close automatically.

[2021-11-18 12:29] #4208 closed

[2021-11-18 12:35] #3723 closed

[2021-11-18 12:57] TeodorTaushanov commented on #4001
Hi,

This is not a valid condition when JAWS (or any other screen reader) is used, as there is no mouse click in that case.

Best,
Teo

[2021-11-18 12:57] #4001 closed

[2021-11-18 14:23] ilhan007 commented on #4358
Hello Lidiya, It seems it depends on some settings indeed, I could fine a zoom set, but I checked with my teammate Filip and it looks better on his side, and as you can't reproduce it - I will close it.

[2021-11-19 02:23] sfsf-xweb-sh opened #4363 "[SF][A11Y][Input]: valueStateMessage display incorrectly in RTL"
Hi Colleague,

When using required Input withe value state message "This field is required", we found that message always show in the left. This message should be displayed in the right when set sap-ui-rtl=true. Please take a look.
Thanks a lot.

**Screenshots**
When set sap-ui-rtl=false, it looks good.

<img width="428" alt="Screen Shot 2021-11-19 at 9 21 25 AM" src="https://user-images.githubuse

[2021-11-19 07:31] AndrianStoikov opened #4364 "MultiComboBox: DOM nodes leak"
**Describe the bug**
When the MultiComboBox is mounted and unmounted there are unmounted nodes left in the memory which leads to memory leaks

**Isolated Example**
[codesandbox](https://codesandbox.io/s/xenodochial-swanson-emoiu?file=/src/App.js).

**To Reproduce**
Steps to reproduce the behavior:
1. Open the codesandbox in a new window
2. Open the Chrome DevTools and observe the Performance Monit

[2021-11-19 08:18] IlianaB commented on #4363
Hello @SAP/ui5-webcomponents-topic-rl  I am forwarding this issue to you, because valueStateMessage for Input is displayed incorrectly in RTL mode: https://sap.github.io/ui5-webcomponents/playground/components/Input/?sap-ui-theme=sap_fiori_3&isrtl=true

Regards,
Iliana

[2021-11-19 09:44] sfsf-xweb-sh opened #4365 "[SF][UI5-Input][BUG][Urgent][0.31.22] Space can not be entered into ui5-input if ui5-input is wrapped with ui5-table-row component"
Dear colleagues,
I am from SuccessFactors Web Experience Shanghai team.

The version of ui5-webcomponent is **0.31.22**

**Issue:**
Space can not be entered into ui5-input if ui5-input is wrapped with ui5-table-row component

**Expected Behavior:**
Space can be entered into ui5-input if ui5-input is wrapped with ui5-table-row component

The below code in [ui5-table-row](https://github.com/SAP/ui5-

[2021-11-19 11:24] nnaydenow commented on #3289
Seems to be fixed meanwhile. Currently issues are not reproducibl.e

[2021-11-19 11:24] #3289 closed

[2021-11-19 12:18] IlianaB commented on #4365
Hello @SAP/ui5-webcomponents-topic-rl  I am forwarding this issue to you, because in ui5-webcomponent version 0.31.22 Space can not be entered into ui5-input, if ui5-input is wrapped with ui5-table-row component: https://codesandbox.io/s/ui5-webcomponents-forked-2ynvz?file=/index.html

It seems to already be fixed in 0.33.

[2021-11-19 13:08] #3847 closed

[2021-11-19 14:06] IlianaB commented on #4364
Hello @AndrianStoikov ,

We have performed several performance testings, but no DOM nodes leakage was detected. We can see the very same Nodes count at the start and end points of the measurement:
![startPoint](https://user-images.githubusercontent.com/10456158/142633969-3cfd8bec-cf1e-4f92-a968-509231d1bfbb.jpg)
![endPoint](https://user-images.githubusercontent.com/10456158/142633991-adc4ecff-16fe

[2021-11-19 14:06] #4364 closed

[2021-11-19 14:14] AndrianStoikov commented on #4364
Hi Iliana,

Indeed after checking with the Performance capture the nodes seem correct. Looks like the Performance Monitor shows some weird results. Thanks for checking that.

Best regards,
Andy

[2021-11-19 20:18] #3126 closed

[2021-11-19 20:37] ilhan007 commented on #3805
Hello @JackieWei it's a duplicate of https://github.com/SAP/ui5-webcomponents/issues/3781
we are closing the current issue, but you can follow the progress in the other one.

[2021-11-19 20:37] #3805 closed

[2021-11-19 20:46] ilhan007 commented on #3868
Hello @elenastoyanovaa  Not sure how to tackle all cases at once, so I would suggest going step by step and fix these two in the components, you can use "<bdi>" tags around the texts in question.

[2021-11-19 20:49] ilhan007 commented on #3624
Hello @gmkv seems to work now in the master playground

<img width="1165" alt="Screenshot 2021-11-19 at 22 48 38" src="https://user-images.githubusercontent.com/15702139/142689845-670ae498-6c23-484a-b76c-173131c37985.png">
ed

[2021-11-19 20:52] ilhan007 commented on #2995
Original issue:
https://github.com/SAP/ui5-webcomponents/issues/3874

[2021-11-19 20:52] ilhan007 commented on #3874
Hello @sfsf-xweb-sh backlog item created for this issue - can be tracked here: https://github.com/SAP/ui5-webcomponents/issues/2995

Closing this one.

[2021-11-19 20:52] #3874 closed

[2021-11-20 02:20] codefactor commented on #4130
@ilhan007 ,
Here is a PR that you might use to get started on this one:
https://github.com/SAP/ui5-webcomponents/pull/4369

I didn't add stable selectors to the following places, though:
1. Shellbar overflow menu items
2. TabContainer overflow menu items

These are only nice to have for now, since they are not as straight forward to just add some stable selectors I didn't bother. EnableNow presuma

[2021-11-20 02:23] codefactor commented on #4130
One other thing - regarding what @JarrettChan wrote in the description:

This appears to already be done.

Can you down-port the following change to 0.31?
https://github.com/SAP/ui5-webcomponents/commit/24ff1458020fb1ba1fa023fcfd33bf71132c7748

Thanks!

[2021-11-21 10:40] imvetri commented on #4215
An example https://www.reddit.com/r/reactjs/comments/qvc9nc/remix_is_going_free_and_open_source_on_monday/

[2021-11-22 03:52] Vir-Mittal opened #4373 "[SF] ViewSettingsDialog: A11y focusing issue"
**Describe the bug**

1. In Windows OS, when using NVDA screen reader and using arrow keys to switch between radio button options in the ViewSettingsDialog component, the focus doesn't change, which in MacOS, the focus changes.
2. In MacOS, when using VoiceOver and using arrow keys to switch between radio button options in the ViewSettingsDialog component, the focus changes, but the item name is n

[2021-11-22 04:16] Vir-Mittal opened #4371 "[SF] ViewSettingsDialog - Display of header options (Sort and Filter)"
### **Feature Request Description**
In the ViewSettingsDialog component, the header always contains two buttons to switch between sorting and filtering, even if the content for one of those options is left empty.

<img width="365" alt="Screen Shot 2021-11-21 at 11 08 27 PM" src="https://user-images.githubusercontent.com/36656306/142799938-7d1d03f6-c4f4-4eba-8e84-6dff915288eb.png">

### **Proposed

[2021-11-22 07:00] c5324266 opened #4372 "[urgent]Application is hanging after exit the wizard"
### **Bug Description**
I have added function to exit the wizard. but the wizard steps are hanging i.e) when I close the wizard and come back the steps are hanging for a long time.

### **Expected Behavior**
The application should work fine even though I come back for the second time.

### **Steps to Reproduce**
https://rpmtenant-irp-approuter-rplocal4.cfapps.sap.hana.ondemand.com/cp.portal/logoff

[2021-11-22 07:35] niyap commented on #4371
Hello Colleagues,

Could you please check the description of the issue and analyse whether the requirement is a valid proposal for an enhancement of ui5-view-settings-dialog component?

Kind Regards,
Niya

[2021-11-22 07:42] superwangnan opened #4374 "do we provide more layout options for developer?"
Hi team,
As we release 1.0 version, I found there is only master detail layout component in our library. In ui5, we have some flexbox, grid layout component. Do we have any plan to provide more layout options for developer?

Thanks ~

[2021-11-22 08:03] vladitasev commented on #4346
Hi @MarcusNotheis

The problem is that both of these files contain a custom theme definition (metadata from Theme Designer). The one from `custom.css` seems to be:

![image](https://user-images.githubusercontent.com/15844574/142824548-5d0fd11d-6463-4a3a-95a3-969143cf2472.png)

which has invalid path in terms of theme recognition and the theme name cannot be properly extracted from the `Path` field

[2021-11-22 08:48] niyap commented on #4372
Hello @c5324266,

Thanks for sharing your findings!

First of all, the affected control is sap.m.Wizard, not ui5-wizard web component. So, here is not the right place for reporting issues regarding the OpenUI5 controls.
Moreover, this is a public github, so please use the internal communication channels.
Also, there is no any specific issue found out in the control. First of all, the issue should

[2021-11-22 08:48] #4372 closed

[2021-11-22 08:52] c5324266 commented on #4372
Hi Niya,
             I am using the following command to exit the application.
history.go(-1);

This command is hanging the application, Please let me know the alternate solution for this.

[2021-11-22 08:59] #4254 closed

[2021-11-22 09:03] niyap commented on #4372
Hello @c5324266,

As I told you in my previous reply, that is not the right place, for discussing the issue. Also, I am a UI5 developer, so I am responsible only for UI5 Web Components and UI5 controls related issues.

 Please, use the internal communication channels.

Kind Regards,
Niya

[2021-11-22 09:04] vladitasev commented on #4346
Hi again @MarcusNotheis

There is a proposed fix, just to double-check that this is the expectation: The custom theme will be loaded from `css_variables.css` only, regardless of order. `custom.css` needs to be second in order to override some CSS Variables.

In the meantime, to overcome this error, you can delete the malformed metadata object from `custom.css`, namely this:

[code]

This is the pa

[2021-11-22 09:04] #4253 closed

[2021-11-22 09:07] gmkv commented on #3624
It's still reproducible. Load https://sap.github.io/ui5-webcomponents/master/playground/components/TabContainer/, then change the text direction to RTL from the settings menu on the Playground app.

[2021-11-22 09:08] gmkv commented on #3624
If it helps tracking down the bug, clicking on the tabs will "fix" the issue.

[2021-11-22 09:11] ilhan007 commented on #3624
Thanks, @gmkv now I could reproduce it!

[2021-11-22 09:16] niyap commented on #4374
Hello @superwangnan,

If you have a specific enhancement in mind, please provide more information about what exactly do you need.
In case of general questions, you can use OpenUI5's slack #webcomponents.

Kind Regards,
Niya

[2021-11-22 09:16] #4374 closed

[2021-11-22 09:25] MarcusNotheis commented on #4346
Hey @vladitasev,

thanks for reaching out, that's exactly what I would have expected :)
Unfortunately we can't remove the metadata from the `custom.css` file as we are using the Theme Designer API and not the exported files, but I'm already looking forward to the fix :)

[2021-11-22 10:12] #4080 closed

[2021-11-22 11:00] vladitasev commented on #3757
Hello colleagues,

Please see this codesandbox for the proposed solution:
https://codesandbox.io/s/ui5-webcomponents-forked-4o4gq

Basically, the thirdparty we use for HTML sanitization (Google's Caja HTML Sanitizer) does not allow `body`, `head`, `html` and notably `style` tags, for security reasons.
Caja HTML Sanitizer allows users to pass a custom tag policy to allow some forbidden tags, but th

[2021-11-22 11:00] #3757 closed

[2021-11-22 11:50] vladitasev commented on #4335
Related to: https://github.com/SAP/ui5-webcomponents/pull/4111

[2021-11-22 12:35] niyap commented on #4373
Hello @SAP/ui5-webcomponents-topic-b,

After an analysis from my side, the faced issue is reproducible, because the NVDA mode is changed from "Focus" to "Browse" by itself.
If you change the mode to "Focus" manually and then follow the described steps, the issue will not be reproducible anymore.
I am forwarding the incident to you for further analysis, because with JAWS as a screen reader, that do

[2021-11-22 13:47] d3xter666 commented on #4365
Hi @sfsf-xweb-sh ,

This is a duplicate with: https://github.com/SAP/ui5-webcomponents/issues/3390
It's already fixed with **v0.33.0**

Cheers

[2021-11-22 23:22] rchrdchn commented on #4142
Hi @d3xter666 - the `TextArea` field does not display any error handling warning/message when the field is empty on a form/dialog that has the `required` property on the component.

[2021-11-22 23:43] rchrdchn commented on #3794
Thanks @ilhan007. It looks like it's been fixed 🙂

[2021-11-22 23:43] #3794 closed

[2021-11-23 01:54] sfsf-xweb-sh commented on #4365
Hi @IlianaB  @d3xter666
We must use SF version of UI5-WebComponent.
Can you downport this fix into 0.31.x version ?
Thanks

[2021-11-23 05:13] d3xter666 commented on #4340
Hello,

This issue is related to https://github.com/SAP/ui5-webcomponents/issues/4340
It'd be taken into account and fixed there.

Cheers

[2021-11-23 06:24] GongRichard commented on #3804
@dobrinyonkov It's better to provide API to customize roles and labels.

[2021-11-23 07:30] #4346 closed

[2021-11-23 07:43] Lukas742 commented on #4142
Hi @rchrdchn @d3xter666

the issue with the `required` property could be related to this issue: https://github.com/SAP/ui5-webcomponents/issues/3498

[2021-11-23 08:03] pskelin commented on #4334
The SVG icons we use are extracted from the icon font in UI5. In the icon font, the icons are drawn on a 512x512 grid (that is what the designers used when creating the individual icons).

The default ui5-webcomponents icon size however is 16x16, so the browser has to apply a downscaling algorithm and this causes some anti-aliasing. This makes the icons look blurred instead of crisp.

Here is one

[2021-11-23 08:03] #4334 closed

[2021-11-23 08:37] ilhan007 commented on #3149
Completed.

[2021-11-23 08:37] #3149 closed

[2021-11-23 08:51] unazko commented on #4373
Hello @SAP/ui5-webcomponents-topic-p,

The issue is reproducible for the standalone ui5-list component on the following URL:
https://sap.github.io/ui5-webcomponents-react/?path=/docs/data-display-list--default-story
and with the latest versions as well:
https://codesandbox.io/s/happy-cdn-f6m6e?file=/src/App.js

Steps to reproduce:
1) Open one of the provided links
2) Start NVDA
3) Tab into the lis

[2021-11-23 09:50] pskelin commented on #4334
@ee92 can you share the browser and operating system of the second set of photos? possibly the kind of monitor these pictures were taken on? We might try some hand-crafted optimi`ations for often used icons, but on a Mac (like you reported) there is hardly any visible change.

[2021-11-23 09:58] #4009 closed

[2021-11-23 13:04] d3xter666 commented on #4142
Hi @rchrdchn ,

I believe this should be somehow application logic.
Probably you mean that `` formElement.checkValidity() `` does not work as expected?

@vladitasev Could you help a bit with the `` required `` property? Is it something that needs to be handled by app developers or by the framework? Am I missing something here?

Cheers

[2021-11-23 14:00] niyap commented on #4365
Hello @sfsf-xweb-sh,

The fix is downported in 0.31 with the following commit: https://github.com/SAP/ui5-webcomponents/commit/f891e9d19658c4a8949ff003ede9edc4156d445f

Kind Regards,
Niya

[2021-11-23 14:00] #4365 closed

[2021-11-23 14:31] #3854 closed

[2021-11-23 15:44] d3xter666 commented on #4363
Hello,

The issue is fixed in the master branch with the following change: https://github.com/SAP/ui5-webcomponents/commit/ce0dcd2ed2e078fb99af82f22acbda88cefd3fc1

Would cherry-pick it for 0.31.*

Cheers

[2021-11-23 16:46] tamiarah opened #4383 "Question: Draft Mode and Web Components"
Hi colleagues,

For evaluation purposes we want to rebuild an existing Fiori Elements application into an Angular app using the UI5 Web Components with a CAP backend.
We would like to understand if there are any specific functionalities, which are not particularly available, e.g.
- Draft handling
- Multiuser support (lock mechanism if another user is working on a business entity)

We were wonderin

[2021-11-23 17:02] bonniegso opened #4384 "Button: Button component doesn't pass down aria-haspopup attribute to button element"
**Describe the bug**
When provided with aria-haspopup="true", the <button> element in the shadowDOM doesn't inherit the attribute from the <Button> component so "has popup" isn't announced by screen readers when button is focused. This attribute is needed to ensure that buttons that trigger popups adhere to a11y standards.

**Isolated Example**
Example: https://4ebcf.csb.app/

**To Reproduce**
Ste

[2021-11-24 05:58] i323808 commented on #4344
Hi @IlianaB ,

Below are the details provided by JIRA ticket reporter(Vinayak Satpute):

WCAG/BITV equivalent:
WCAG 2.0, 3.3.2, Level A, Labels or instructions
WCAG 2.0, 2.4.6, Level AA, Headings and Labels
BITV 2.0, 2.4.6, Prio 1, Beschreibungen
BITV 2.0, 3.3.2, Prio 1, Beschriftungen

Best Regards,
Jane

[2021-11-24 06:30] sfsf-xweb-sh opened #4385 "[SF][A11Y][Button]: Interactive Controls Must not Be Nested"
Hi Colleague,

When use ui5-button , set icon="add", using axe to scan page to test a11y issue, the following issue is detected. Please take a look. Thanks!

<img width="1759" alt="Screen Shot 2021-11-24 at 2 24 25 PM" src="https://user-images.githubusercontent.com/78520316/143186219-c47e7fda-9616-439a-b89a-421107a09bf1.png">

UI5 Web Components for React Information:
@ui5/webcomponents version: 0

[2021-11-24 07:46] niyap commented on #4384
Hello @SAP/ui5-webcomponents-topic-b,

That is a feature request regarding the ui5-button component.
The reporter wants to have a property for adding aria-haspopup attribute. In sap.m.Button, such a property already exists and is called "ariaHasPopup".
Could you please check and evaluate whether similar property could be added to the ui5-button component?

Kind Regards,
Niya

[2021-11-24 08:08] niyap commented on #4383
Hello @SAP/ui5-webcomponents-team,

Could you please check the question?

Thank you in advance!

Kind Regards,
Niya

[2021-11-24 08:47] niyap commented on #4385
Hello Colleagues,

UI5 Web Components provide the prerequisites for screen reader support based on the HTML, ARIA, and WCAG standards. All screen readers that follow those standards should work fine. Nevertheless, there are deviations in the interpretation depending on the combination of browser and screen reader. UI5 Web Components focus on compliance with the standards, rely on automated checks

[2021-11-24 11:38] vladitasev commented on #1041
This feature is nice-to-have. The most universal solution would be to create a `setSelectedOption` public method, which gets a callback as the only argument. This callback is executed for all options and it selects the first/last (ideally only) option that it matches, depending on how you choose to implement it.

Usage:
[code]
This will select the option that has "some text" as textContent.

Examp

[2021-11-24 20:58] texttechne opened #4386 "Checkbox: Inconsistent Cursor Style"
### **Bug Description**
Cursor style within the checkbox  is set / overwritten to "default", while label and wrapper around the input are set to cursor style "pointer". Additionally, for disabled checkboxes  the cursor style is still set to "pointer".

### **Expected Behavior**
Disabled state: checkbox  including their label, wrapper and what have you are all set to cursor style "default" to indic

[2021-11-25 08:12] niyap commented on #4386
Hello @texttechne,

As I can see, the issue is not reproducible for the ui5-radio-button component. Here, you can check: https://sap.github.io/ui5-webcomponents/master/playground/components/RadioButton/
We will proceed with the issue in ui5-checkbox component.

Kind Regards,
Niya

[2021-11-25 08:18] niyap commented on #4386
Hello @SAP/ui5-webcomponents-topic-p,

There is an issue with ui5-checkbox component. When the mouse cursor is over the checkbox, it is the default one and when over the label, it is pointer.
In openUI5 the cursor is always pointer.
Could you please check?

Thank you in advance!

Kind Regards,
Niya

[2021-11-25 10:00] ilhan007 commented on #1041
We had a discussion on the topic  and decided the declarative way of selecting an option is enough and recommended.

We considered providing a setter, a method to select an option as:
[code]

But, the effort is not much different from what is currently possible
[code]

That's why for time being, we don't plan to introduce such an API.

[2021-11-25 10:00] #1041 closed

[2021-11-25 11:48] #4201 closed

[2021-11-25 12:04] texttechne commented on #4386
Hi @niyap,

let's meet half way ;-)
* for non-disabled radio buttons the cursor style is consistent
* BUT for disabled radio buttons the cursor style is set to pointer, while it should be default

[2021-11-25 12:09] niyap commented on #4386
Hello @texttechne,

May I ask you to create a separate issue for that, because we could not handle them both here, as the affected components are different.

Thank you in advance!

Kind Regards,
Niya

[2021-11-25 12:12] niyap commented on #4386
Hello @SAP/ui5-webcomponents-topic-p,

Please check the cursor used when the ui5-checkbox is disabled as well. If necessary, please clarify with the responsible visual designers, whether we should use the default cursor or not.
As a reference, in OpenUI5 the default cursor is used, when the control is disabled.

Kind Regards,
Niya

[2021-11-25 12:12] gmkv commented on #4258
The VD spec for the List does not forbid tapping on items using mobile. So, we should remove the changing of the backgroudn with #4360.

The actual bug is that on Chrome Mobile, there's a light-blue overlay drawn on the element after the tap.
We have to remove that. Here is one approach [used here](https://github.com/SAP/ui5-webcomponents/pull/4354/files#diff-fb6961887cc3b17921dfb89baaab6581616539

[2021-11-25 12:12] texttechne commented on #4386
Hey @niyap,

since you didn't communicate the issue with the disabled style to the topic-p guys: Do you accept that, when the checkbox is disabled, that the cursor style should be set to "default" instead of "pointer"?

Here's the UI5 example for the checkbox, which behaves like I've expected this:
https://ui5.sap.com/#/entity/sap.m.CheckBox/sample/sap.m.sample.CheckBox

[2021-11-25 12:14] niyap commented on #4386
Hello @texttechne,

I added a comment for that as well :)

Kind Regards,
Niya

[2021-11-25 12:15] gmkv commented on #4258
This light blue overlay after the tap also happens on the regular List component.

[2021-11-25 12:22] texttechne opened #4387 "Radio Button: wrong cursor style for disabled state"
### **Bug Description**
When a radio buttton is disabled, the cursor style is still set to "pointer" indicating that the user can perform an action here, while in fact she can't. It should be set to "default".

In UI5 the radio button behaves the same way - so also using the pointer style -  [as can be seen in this example](https://ui5.sap.com/#/entity/sap.m.RadioButtonGroup/sample/sap.m.sample.Ra

[2021-11-25 12:24] texttechne commented on #4386
Hey @niyap,

ahh, you were 1 minute faster regarding the comment :-)

And here is the other ticket for the radio button: #4387
Interestingly this bug is also present in OpenUI5, so radio button and checkbox behave differently regarding disabled state there.

[2021-11-25 12:30] niyap commented on #4387
Hello @SAP/ui5-webcomponents-topic-rd,

Please check the cursor used when the ui5-radio-button component is disabled. Currently, we use "pointer" when the component is disabled.
 If necessary, please clarify with the responsible visual designers, whether we should change it to the default cursor.
As a reference, you can check the sap.m.Checkbox control in OpenUI5 when disabled.

Kind Regards,
Niya

[2021-11-25 16:16] #4363 closed

[2021-11-25 16:37] ilhan007 commented on #4130
Fixes and Released.

[2021-11-25 16:37] #4130 closed

[2021-11-25 17:14] #4108 closed

[2021-11-25 17:16] #4255 closed

[2021-11-25 17:16] #4256 closed

[2021-11-25 17:16] #4257 closed

[2021-11-26 07:39] #4258 closed

[2021-11-26 07:51] petyabegovska commented on #3993
Hi @rama1990br,

Please provide some more details on your use case, so that we can evaluate what is the best way to achieve it and decide which properties are needed in the ui5-link component.

Best regards,
Petya

[2021-11-26 08:05] akudev opened #4389 "Broken links in Web Components theming docu"
### **Issue Description**

Hi,
https://sap.github.io/ui5-webcomponents/playground/customizing/theme/

has the following link:
"For more on configuring themes, see [Configuration](https://sap.github.io/ui5-webcomponents/playground/customizing/theme/Configuration.md)"

which leads to:
https://sap.github.io/ui5-webcomponents/playground/customizing/theme/Configuration.md

which doesn’t exist:
"Page no

[2021-11-26 08:16] niyap commented on #4389
Hello @SAP/ui5-webcomponents-team,

Could you please check Andreas's findings?
Thank you in advance!

Kind Regards,
Niya

[2021-11-26 11:01] #4205 closed

[2021-11-26 12:36] nnaydenow commented on #4373
Hello colleagues,

I'm adding this quote from the documentation of NVDA screen reader where automatically switching is described:

https://www.nvaccess.org/files/nvda/documentation/userGuide.html#BrowseMode

`Sometimes, you will need to interact directly with controls in these documents. For example, you will need to do this for editable text fields and lists so that you can type characters and us

[2021-11-26 12:36] #4373 closed

[2021-11-27 14:46] sfsf-xweb-sh opened #4395 "[ui5-input] "X" button enhancement"
### **Feature Request Description**

hi, according to Fiori 3 Specification https://wiki.wdf.sap.corp/wiki/pages/viewpage.action?pageId=2060056990
There is a component SearchField

![image](https://user-images.githubusercontent.com/78520316/143685792-7fe5cc4a-cd8b-4219-920c-3c61ee582a7d.png)

which has a clear button at the end of input.

For now, we can use the ui5-input with the icon slot  to ad

[2021-11-29 07:26] ilhan007 commented on #3707
Hello @kolew96 closing the issue due to inactivity. Feel free to provide more input as requested and we will re-open the issue.

[2021-11-29 07:26] #3707 closed

[2021-11-29 09:37] nikolay-kolarov commented on #4395
Hi,

Thanks for raising this request.
To be concrete, you want it only for the ui5-input at the moment, right?
Also, what are the expected timelines, where you would expect to receive this feature?

Thanks,
Nikolay

[2021-11-29 11:42] #4386 closed

[2021-11-29 12:04] niyap commented on #3734
Hello Colleagues,

Currently, the focus outline is rounded both in Chrome and FireFox and that it a browser feature.
The same behaviour was presented in openUI5. As a result, I discussed it with the visual designers and they took the decision to leave the browsers default behaviour on that stage, so we do not have to do any enhancements from our side.
I am closing the incident.

Kind Regards,
Niya

[2021-11-29 12:04] #3734 closed

[2021-11-29 14:21] nikolay-kolarov commented on #3447
Hi,

At the moment, we are in clarification about the announcement with the acc team and we expect this to be clarified soon.
@elenastoyanovaa  - Could you please describe what we discussed as optimization for the close button, so that we can move forward the fix?

Thanks,
Nikolay

[2021-11-29 14:39] #4358 closed

[2021-11-29 15:00] #4387 closed

[2021-11-29 15:04] gmkv commented on #4387
Hi @texttechne
The linked PR solves the issue in ui5-webcomponents. I've also made a similar change in the OpenUI5 repo as well: https://github.com/SAP/openui5/commit/9194f87aebc3fad19469c116d01db79f476af0f2
Thanks for reporting this.

[2021-11-29 17:00] rathlukas opened #4398 "[ui5-table] header height of 48px is hardcoded"
### **Feature Request Description**
Hi, I'm currently searching for a way to resize the .ui5-table-header-row element as it seems a bit huge with the compact density enabled, but there is a hardcoded 48px style inside Table.js (it styles the thead > tr element).

### **Proposed Solution**
Make the Header Height configurable via properties or adapt to the compact density.

### **Priority**
- [x] Lo

[2021-11-29 19:28] rchrdchn commented on #4142
Yes, thanks! It seems like they are related with one difference that https://github.com/SAP/ui5-webcomponents/issues/4142 is for `TextArea`, while https://github.com/SAP/ui5-webcomponents/issues/3498 is for `Input`

[2021-11-30 02:58] sfsf-xweb-sh commented on #4385
Hi @niyap ,

Here is steps to reproduce this issue, I'll send the login info to you on slack.
1. Go to assignment-type page: https://10.236.241.82/sf/manageAssignment?_s.crb=bckHEXE0Lwo2hqRW3o1cKi0gBdTvF2ivEBFJGPzsKiY%253d&#/assignment-type
2. add chrome extension axe devTools,
3. scan the assignment-type page.

You can get related WCAG requirement by https://dequeuniversity.com/rules/axe/4.3/nest

[2021-11-30 06:17] Todor-ads opened #4402 "Dialog: here may be an incorrect padding around the content."
Hello,
0.125ren(in Cozy) padding appears in the content section of the Dialog.
Can you check if this is expected? In ui5 classic this is not the case.
![image](https://user-images.githubusercontent.com/22304695/143995459-501dda71-a017-4ddf-81a3-6d470ff91dcf.png)

### **Steps to Reproduce**
1. Go to '[...](https://sap.github.io/ui5-webcomponents/playground/components/Dialog/)'

### **Priority**
- [

[2021-11-30 07:52] niyap commented on #3745
Hello Colleagues,

After deeper analysis, I found out that down state over the handle (active) is never implemented.
Since, it has to be implemented and then all the themes to be adjusted according to their visual specification, we took the decision to handle it as a backlog item.
The Backlog Item should include implementation of handle's active state, as well as covering all the visual requiremen

[2021-11-30 08:11] gmkv commented on #4398
Hi @SAP/ui5-webcomponents-topic-rl
This is a request to be able to customise the height for cozy/compact.
There's also a bug: The table's header is too tall - it's 48px in height, while it is specified to be 44px in both display densities.

Would you have a look?
Regards,
Georgi

[2021-11-30 13:05] Lukas742 opened #4404 "RadioButton & Checkbox: discrepancies of cursor styles for disabled/read-only mode"
### **Bug Description**
When hovering over the text of a `CheckBox` which is in disabled/read-only mode the `pointer` cursor is displayed.

When hovering over a `RadioButton` which is in disabled/read-only mode the `pointer` cursor is displayed.

### **Expected Behavior**
I'm not 100% sure what the expected behavior is, but from this [documentation](https://experience.sap.com/fiori-design-web/ui-e

[2021-11-30 13:26] gmkv commented on #4404
Hi @Lukas742
This was fixed a few days ago with #4393. The Radio Button had the inconsistent cursor styles.
Regards,
Georgi

[2021-11-30 13:27] gmkv commented on #4404
Actually the Checkbox' square is also inconsistent here.

[2021-11-30 13:32] gmkv commented on #4404
The issue with Checkbox is already solved in #4386. You can see for yourself in the [playground, on the main branch](https://sap.github.io/ui5-webcomponents/master/playground/components/CheckBox/).

[2021-11-30 13:32] #4404 closed

[2021-11-30 14:40] nnaydenow commented on #2634
Hi @agauyeung ,

We will process the issue in following GitHub issue: #2560 . Please follow its status there.

Regards,
Nayden

[2021-11-30 14:40] #2634 closed

[2021-11-30 17:27] bonniegso opened #4406 "MessageStrip: Screen reader for Message Strip close button announces twice"
**Describe the bug**
When the close button on the Message Strip is focused, the text "message strip close" is announced twice. This issue is observed when using the MessageStrip component from ui5-webcomponents-react. The message isn't read twice if using ui5-webcomponents message strip directly.

**Isolated Example**
Code Sandbox Example: https://8ngbr.csb.app/

**To Reproduce**
Steps to reproduc

[2021-12-01 09:42] gmkv commented on #4406
Hi @SAP/ui5-webcomponents-topic-rl
The MessageStrip close button gets announced twice.
Issue can be reproduced with JAWS or VoiceOver here: https://codesandbox.io/s/ui5-webcomponents-forked-eh034?file=/index.html

Would you have a look?
Regards,
Georgi

[2021-12-01 12:33] nnaydenow commented on #4077
Hi @codefactor ,

The specification of the component is not supporting this scenario and it was not design to work that way. We were thinking about another solution but seems that there is no stable solution about this requirement. It was synced with our PO and at the moment we will reject this feature request. @jdichev

Regards,
Nayden

[2021-12-01 12:42] #4000 closed

[2021-12-01 12:43] nnaydenow commented on #3022
Issue is already fixed with the linked PR.

[2021-12-01 12:43] #3022 closed

[2021-12-01 15:31] kskondov commented on #4202
First issue is fixed with https://github.com/SAP/ui5-webcomponents/pull/4408
Second issue only appears when used in the playground RTL styles are not applied on first load. When same sample is used outside the playground everything works fine

[2021-12-01 16:55] Flora-manda opened #4409 "Fix validation for date picker and date range picker components"
### **Bug Description**
When I use a different format pattern on the date range picker or even date picker component, yyyy-MM-dd, and I change the month MM to an invalid month, say 17 or anything above 12, the component automatically changes to another date entirely and doesn't through an error. With the default format of Apr 1, 2021, it throws an error if I changed "Apr" to let's say "Rec". But n

[2021-12-01 17:10] Flora-manda opened #4410 "Weird "deletion" of values in input field"
### **Bug Description**
When values are typed in an input field (multi-input in this case) and the cursor is placed in the middle, clicking on the delete button on the keyboard deletes one or two values then after the cursor jumps forward to end of the text value.

### **Expected Behavior**
Should delete only previous values behind cursor and not jump forward.

### **Steps to Reproduce**
1. Go to